@charset "UTF-8";
* { box-sizing: border-box; }
.border {
	border: 1px solid red;
}
#div_QA_all_page {
	height: 100vh;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
#div_header1 {
	width: 100%;
	height: 60px;
	border-bottom: 3px solid black;
}
#div_header_content1 {
	width: 300px;
	height: 30px;
	font-size: 23px;
	font-weight: bold;
}
#div_QA_inquiry_main_screen {
	width: 1000px;
	height: 800px;
}
#div_content_box1 {
	width: 1000px;
	height: 40px;
	margin-left: -1px;
	margin-top: -1px;
	display: flex;
	justify-content: space-between;
}
#div_content_text1-1 {
	display: flex;
	width: 180px;
	height: 20px;
	font-weight: bold;
	margin-left: 2px;
	margin-top: 5px;
}
#div_QA_product_list_button {
	display: flex;
	align-items: center;
}
#QA_product_list_button {
	width: 120px;
	height: 30px;
	background-color: black;
	color: white;
	cursor: pointer;
}
#div_content_box2 {
	width: 1000px;
	height: 70px;
	margin-top: 20px;
	margin-left: -1px;
	border: 1px solid gainsboro;
	background-color: rgba(241, 241, 241, 1);
}
#div_전체상품문의_box {
	width: 180px;
	height: 30px;
	float: left;
	margin-left: 14px;
	margin-top: 18px;
	border: none;
	font-weight: bold;
	cursor: pointer;
}
#div_비밀글제외_box {
	width: 120px;
	height: 30px;
	margin-left: 10px;
	margin-top: 18px;
	border: none;
	background-color: rgba(241, 241, 241, 1);
	opacity: 0.5;
	cursor: pointer;
}
#div_비밀글설정_box {
	float: left;
	color: black;
	font-weight: bold;
}
#div_비밀글설정_img {
	float: left;
	margin-top: 3px;
	margin-left: -2px;
	background-color: #ddd;
}
#div_content_box3 {
	width: 1000px;
	height: 491px;
	margin-top: 20px;
	margin-left: -1px;
	border: 1px solid gainsboro;
}
#div_content_small_box1 {
	width: 1000px;
	height: 71px;
	font-weight: bold;
	border: 1px solid gainsboro;
	margin-left: -1px;
	margin-top: -1px;
}
#div_상단바1 {
	float: left;
	margin-left: 50px;
	margin-top: 22px;
	font-weight: bold;
}
#div_상단바2 {
	float: left;
	margin-left: 70px;
	margin-top: 22px;
	font-weight: bold;
}
#div_상단바3 {
	float: left;
	margin-left: 70px;
	margin-top: 22px;
	font-weight: bold;
}
#div_상단바4 {
	float: left;
	margin-left: 240px;
	margin-top: 22px;
	font-weight: bold;
}
#div_상단바5 {
	float: left;
	margin-left: 210px;
	margin-top: 22px;
	font-weight: bold;
}
#div_상단바6 {
	float: left;
	margin-left: 50px;
	margin-top: 22px;
	font-weight: bold;
}
#div_content_small_box2 {
	width: 1000px;
	height: 71px;
	margin-left: -1px;
	font-weight: bold;
	font-size: 13.5px;
	border: 1px solid gainsboro;
	margin-top: -1px;
}
#div_상단바2-1 {
	float: left;
	margin-left: 50px;
	margin-top: 22px;
	font-weight: bold;
}
#div_상단바2-2 {
	float: left;
	margin-left: 70px;
	margin-top: 22px;
	font-weight: bold;
}
#div_상단바2-3 {
	float: left;
	margin-left: 72px;
	margin-top: 22px;
	font-weight: bold;
}
#div_상단바2-4 {
	float: left;
	margin-left: 60px;
	margin-top: 22px;
	font-weight: bold;
	cursor: pointer;
}
#div_상단바2-5 {
	float: left;
	margin-left: 273px;
	margin-top: 22px;
	font-weight: bold;
}
#div_상단바2-6 {
	float: left;
	margin-left: 51px;
	margin-top: 22px;
	font-weight: bold;
}
#div_content_small_box3 {
	width: 1000px;
	height: 71px;
	margin-left: -1px;
	font-size: 13.5px;
	border: 1px solid gainsboro;
	margin-top: -1px;
}
#div_상단바3-1 {
	float: left;
	margin-left: 50px;
	margin-top: 22px;
	font-weight: bold;
}
#div_상단바3-2 {
	float: left;
	margin-left: 70px;
	margin-top: 22px;
	font-weight: bold;
}
#div_상단바3-3 {
	float: left;
	margin-left: 77px;
	margin-top: 22px;
	font-weight: bold;
}
#div_상단바3-4 {
	float: left;
	margin-left: 68px;
	margin-top: 22px;
	font-weight: bold;
	cursor: pointer;
}
#div_상단바3-5 {
	float: left;
	margin-left: 270px;
	margin-top: 22px;
	font-weight: bold;
}
#div_상단바3-6 {
	float: left;
	margin-left: 50px;
	margin-top: 22px;
	font-weight: bold;
}
#div_content_small_box4 {
	width: 1000px;
	height: 71px;
	margin-left: -1px;
	font-size: 13.5px;
	border: 1px solid gainsboro;
	margin-top: -1px;
}
#div_상단바4-1 {
	float: left;
	margin-left: 50px;
	margin-top: 22px;
	font-weight: bold;
}
#div_상단바4-2 {
	float: left;
	margin-left: 70px;
	margin-top: 22px;
	font-weight: bold;
}
#div_상단바4-3 {
	float: left;
	margin-left: 70px;
	margin-top: 22px;
	font-weight: bold;
}
#div_상단바4-4 {
	float: left;
	margin-left: 62px;
	margin-top: 22px;
	font-weight: bold;
	cursor: pointer;
}
#div_상단바4-5 {
	float: left;
	margin-left: 270px;
	margin-top: 22px;
	font-weight: bold;
}
#div_상단바4-6 {
	float: left;
	margin-left: 51px;
	margin-top: 22px;
	font-weight: bold;
}
#div_content_small_box5 {
	width: 1000px;
	height: 71px;
	margin-left: -1px;
	font-size: 13.5px;
	border: 1px solid gainsboro;
	margin-top: -1px;
}
#div_상단바5-1 {
	float: left;
	margin-left: 50px;
	margin-top: 22px;
	font-weight: bold;
}
#div_상단바5-2 {
	float: left;
	margin-left: 70px;
	margin-top: 22px;
	font-weight: bold;
}
#div_상단바5-3 {
	float: left;
	margin-left: 77px;
	margin-top: 22px;
	font-weight: bold;
}
#div_상단바5-4 {
	float: left;
	margin-left: 70px;
	margin-top: 22px;
	font-weight: bold;
	cursor: pointer;
}
#div_상단바5-5 {
	float: left;
	margin-left: 270px;
	margin-top: 22px;
	font-weight: bold;
}
#div_상단바5-6 {
	float: left;
	margin-left: 48px;
	margin-top: 22px;
	font-weight: bold;
}
#div_content_small_box6 {
	width: 1000px;
	height: 71px;
	margin-left: -1px;
	font-size: 13.5px;
	border: 1px solid gainsboro;
	margin-top: -1px;
}
#div_상단바6-1 {
	float: left;
	margin-left: 50px;
	margin-top: 22px;
	font-weight: bold;
}
#div_상단바6-2 {
	float: left;
	margin-left: 70px;
	margin-top: 22px;
	font-weight: bold;
}
#div_상단바6-3 {
	float: left;
	margin-left: 70px;
	margin-top: 22px;
	font-weight: bold;
}
#div_상단바6-4 {
	float: left;
	margin-left: 64px;
	margin-top: 22px;
	font-weight: bold;
	cursor: pointer;
}
#div_상단바6-5 {
	float: left;
	margin-left: 364px;
	margin-top: 22px;
	font-weight: bold;
}
#div_상단바6-6 {
	float: left;
	margin-left: 48px;
	margin-top: 22px;
	font-weight: bold;
}
#div_content_small_box7 {
	width: 1000px;
	height: 71px;
	margin-left: -1px;
	font-size: 13.5px;
	border: 1px solid gainsboro;
	margin-top: -1px;
}
#div_상단바7-1 {
	float: left;
	margin-left: 50px;
	margin-top: 22px;
	font-weight: bold;
}
#div_상단바7-2 {
	float: left;
	margin-left: 70px;
	margin-top: 22px;
	font-weight: bold;
}
#div_상단바7-3 {
	float: left;
	margin-left: 76px;
	margin-top: 22px;
	font-weight: bold;
}
#div_상단바7-4 {
	float: left;
	margin-left: 72px;
	margin-top: 22px;
	font-weight: bold;
	cursor: pointer;
}
#div_상단바7-5 {
	float: left;
	margin-left: 333px;
	margin-top: 22px;
	font-weight: bold;
}
#div_상단바7-6 {
	float: left;
	margin-left: 48px;
	margin-top: 22px;
	font-weight: bold;
}
#div_content_box4 {
	width: 1000px;
	height: 40px;
	margin-left: -1px;
	border: 1px solid gainsboro;
}
#div_page_box {
	float: right;
	font-weight: bold;
	font-size: 14px;
	margin-top: 9px;
	margin-right: 30px;
}
#div_content_box5 {
	width: 1000px;
	height: 63px;
	margin-left: -1px;
	border: 1px solid gainsboro;
}
#div_page_down_box1{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	float: right;
	width: 40px;
	height: 63px;
	margin-top: -1px;
	border: 1px solid gainsboro;
	color: gainsboro;
	font-weight: bold;
	cursor: pointer;
}
#div_content_box6 {
	width: 1000px;
	height: 54px;
	margin-left: -1px;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	text-align: center;
	border: 1px solid gainsboro;
}
#div_QA_down_button1 {
	width: 80px;
	height: 35px;
	float: right;
	color: black;
	font-weight: bold;
	font-size: 15px;
	background-color: white;
	border-color: #ddd;
	border-width: 1px;
	cursor: pointer;
}
#div_QA_down_content1 {
	float: right;
	color:  black;
	opacity: 0.5;
	font-weight: bold;
	font-size: 13.5px;
	margin-right: 20px;
}

/* Q&A글 클릭 시 */

#div_QA_main_open {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100vh;
	z-index: 15000;
	display: none;
	margin: 0;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background-color: rgba(0, 0, 0, 0.4);
}
#div_main_content_screen {
	width: 1000px;
	height: 500px;
	border: 1px solid #ddd;
	margin-left: -1px;
}
#div_main_content1 {
	width: 150px;
	height: 500px;
	float: left;
	text-align: center;
	font-size: 13.5px;
	font-weight: bold;
	line-height: 500px;
	background-color: gainsboro;
}
#div_main_content2 {
	width: 700px;
	height: 500px;
	float: left;
	margin-left: -1px;
	font-size: 13.5px;
	background-color: gainsboro;
}
#div_middle_content1 {
	width: 700px;
	height: 50px;
	margin-top: 60px;
}
#div_coment1 {
	display: inline-block;
	margin-left: 5px;
	margin-top: 10px;
}
#div_main_content3 {
	width: 150px;
	height: 500px;
	float: right;
	margin-right: -1px;
	text-align: center;
	font-size: 13.5px;
	font-weight: bold;
	line-height: 500px;
	background-color: gainsboro;
}
#div_back_QA_button_box {
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 119px;
	position: fixed;
}
#div_back_QA_main_page {
	width: 25px;
	height: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	border-width: 1px;
	border-color: #ddd;
	position: fixed;
	cursor: pointer;
}
#div_back_QA_main_page_img {
	width: 17px;
	height: 19px;
	margin-left: 3px;
}

/* Q&A글 클릭 시 */

#div_QA_write_page_open {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100vh;
	z-index: 16000;
	display: none;
	margin: 0;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background-color: rgba(0, 0, 0, 0.4);
}
#div_main_screen {
	width: 500px;
	height: 700px;
	border-width: 1px;
	border: 1px solid #ddd;
	background-color: white;
}
#div_QA_write_header1 {
	width: 500px;
	height: 70px;
	margin-left: -1px;
	margin-top: -1px;
	font-size: 23px;
	font-weight: bold;
}
#div_QA_product_inquiry_box {
	width: 100px;
	float: left;
	margin-left: 10px;
	margin-top: 7px;
}
#div_QA_write_back_button_box {
	width: 30px;
	float: right;
	cursor: pointer;
}
#div_QA_write_back_button_cover_box {
	width: 30px;
	height: 28px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	border: 1px solid #ddd;
	cursor: pointer;
}
#div_QA_write_back_button {
	width: 20px;
	height: 20px;
	cursor: pointer;
}
#div_QA_write_content1 {
	width: 500px;
	height: 140px;
	margin-left: -1px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}
#div_QA_write_product_img {
	margin-left: 10px;
}
#div_QA_write_product_box1 {
	margin-left: 15px;
}
#div_QA_write_product_text1 {
	font-size: 13.5px;
	font-weight: bold;
}
#div_QA_write_product_text2 {
	font-size: 20px;
	font-weight: bold;
	margin-top: 8px;
}
#div_QA_write_product_text3 {
	font-size: 13.5px;
	font-weight: bold;
	margin-top: 1px;
}
#div_product_box1 {
	width: 430px;
	height: 140px;
}
#div_QA_write_product_small_box1 {
	width: 430px;
	height: 20px;
}
#div_QA_write_product_small_box2 {
	width: 430px;
	height: 40px;
}
#div_QA_write_product_small_box3 {
	width: 430px;
	height: 20px;
}
#div_QA_write_content2 {
	width: 500px;
	height: 70px;
	margin-left: -1px;
}
#div_inquiry_type_box1 {
	width: 500px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	font-weight: bold;
	margin-left: -5px;
}
#div_inquiry_type {
	margin-left: 30px;
}
#div_inquiry_type_box2 {
	width: 500px;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 14px;
	color: black;
	opacity: 0.5;
}
#div_QA_write_content3 {
	width: 500px;
	height: 50px;
	margin-left: -1px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}
#div_QA_write_title1 {
	width: 40px;
	height: 30px;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	display: flex;
	align-items: center;
}
#div_input_box1 {
	width: 300px;
	height: 28px;
	border-width: 1px;
	border-color: #ddd;
}
#div_secret_box {
	display: flex;
	align-items: flex-end;
}
#div_check_box1 {
	float: left;
	font-size: 15px;
	font-weight: bold;
	border-radius: 50%;
}
#div_QA_write_content4 {
	width: 500px;
	height: 300px;
	margin-left: -1px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
#div_내용 {
	width: 40px;
	height: 30px;
	font-size: 15px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
#div_내용_box1 {
	width: 400px;
	height: 200px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
#div_내용_box2 {
	width: 400px;
	height: 200px;
	border-color: #ddd;
	border-width: 1px;
}
#div_content5 {
	width: 500px;
	height: 70px;
	margin-left: -1px;
}
#div_플러스_button {
	width: 70px;
	height: 69px;
	margin-left: 83px;
	margin-top: -3px;
	background-color: white;
	border-color: #ddd;
	border-width: 1px;
}