@charset "UTF-8";
:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}
* { 
	box-sizing: border-box;
	font-family: InterVariable, sans-serif;
 }
.border {
	border: 1px solid red;
}
.list {
	list-style: none;
}
.one_ {
	width: 243px;
	height: 34px;
	margin-top: 2px;	
}
.two_ {
	width: 20px;
	height: 20px;
}
.one__ {
	width: 100%;
    height: 100%;
    border: none;
    background: inherit;
    padding: 0 0;
    display: flex;
    align-items: center;
}
.two__ {
	font-size: 13px;
    font-weight: 450;
    letter-spacing: normal;
    line-height: 20px;
    margin-left: 3px;
}
body {
	-webkit-font-smoothing: antialiased;
	margin: 0 auto;
}
#header{
	width: 1920px;
	height: 56px;
	display: flex;
	position: sticky;
	box-shadow: rgb(235 235 235) 0px -1px 0px 0px inset;
}
#boad{
	width: 1920px;
	height: 915px;
	display: flex;
}
#boad_1{
	width: 52px;
	height: 100%;
	padding: 4px 0 0 0;
	border-right: 1px solid rgb(235 235 235);
}
#boad_2{
	width: 300px;
	height: 915px;
	border-right: 1px solid rgb(235 235 235);
}
#boad_3{
	width: 1265px;
	height: 100%;
	border-right: 1px solid rgb(235 235 235);
	background-color: rgb(236 236 236);
	overflow: hidden;
}
#boad_4{
	width: 303px;
	height: 100%;
	padding: 8px 0 16px 0;
}
#header > div:nth-child(1){
	width: 231.19px;
	height: 56px;
	display: flex;
	align-items: center;
    justify-content: space-between;
}
#header > div:nth-child(2){
	width: 1414.81px;
	height: 56px;
	padding: 0 12px;
	display: flex;
	align-items: center;
    justify-content: center;
}
#header > div:nth-child(3){
	width: 274px;
	height: 56px;
	padding: 0 16px 0 0;
	display: flex;
	align-items: center;
}
#header > div:nth-child(1) > div:nth-child(1){
	width: 99.19px;
	height: 100%;
	display: flex;
	justify-content: space-between;
}
#header > div:nth-child(1) > div:nth-child(1) > div:nth-child(1){
	width: 56px;
	height: 55px;
	display: flex;
	align-items: center;
    justify-content: center;
}
#header > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > svg{
	width: 20px;
	height: 19.05px;
}
#header > div:nth-child(1) > div:nth-child(1) > div:nth-child(2){
	width: 35.19px;
	height: 56px;
	display: flex;
	align-items: center;
    justify-content: center;
}
#header > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > span{
	font-size: 13px;
	ont-weight: 450;
	letter-spacing: normal;
	line-height: 14.3px;
}
#header > div:nth-child(1) > div:nth-child(2) > span{
	width: 64px;
	height: 20px;
	margin: 0 4px 0 0;
	padding: 2px 8px;
	background: #B4FED2;
	display: flex;
	border-radius: 8px;
	align-items: center;
}
#header > div:nth-child(1) > div:nth-child(2) > span > svg{
	width: 20px;
	height: 20px;
}
#header > div:nth-child(1) > div:nth-child(2) > span > span{
	width: 36px;
	height: 16px;
	color: #0C5132;
	font-size: 12px;
	font-weight: 450;
	letter-spacing: normal;
	line-height: 16px;
}
#header > div:nth-child(1) > div:nth-child(2){
	width: 68px;
	height: 20px;
}
#header > div:nth-child(1) > div:nth-child(3){
	width: 32px;
	height: 32px;
}
#header > div:nth-child(1) > div:nth-child(3) > button{
	width: 100%;
	height: 100%;
	border: none;
	background: inherit;
	display: flex;
    align-items: center;
}
#header > div:nth-child(2) > div:nth-child(1){
	width: 106px;
	height: 32px;
}
#header > div:nth-child(2) > div:nth-child(1) > button{
	width: 100%;
	height: 100%;
	border: none;
	background: inherit;
	display: flex;
    align-items: center;
    padding: 0 0;
}
#header > div:nth-child(2) > div:nth-child(1) > button > div{
	width: 106px;
	height: 20px;
	padding: 0 12px;
	display: flex;
	align-items: center;
}
#header > div:nth-child(2) > div:nth-child(1) > button > div > svg:nth-child(1){
	width: 20px;
	height: 20px;
	margin: 0 4px;
}
#header > div:nth-child(2) > div:nth-child(1) > button > div > div{
	width: 26px;
	height: 13px;
	font-size: 13px;
	letter-spacing:normal;
	line-height: 13px;
	font-weight: 550;
	margin-left : 4px;
	color: #303030;
}
#header > div:nth-child(2) > div:nth-child(1) > button > div > svg:nth-child(3){
	width: 20px;
	height: 20px;
}
#header > div:nth-child(2) > div:nth-child(2) {
	width: 1px;
	height: 16px;
	background: #EBEBEB;
	margin: 0 0 0 12px;
}
#header > div:nth-child(2) > div:nth-child(3) {
	width: 124px;
	height: 32px;
}
#header > div:nth-child(2) > div:nth-child(3) > button{
	width: 100%;
	height: 100%;
	border: none;
	background: inherit;
	display: flex;
    align-items: center;
    padding: 0 0;
}
#header > div:nth-child(2) > div:nth-child(3) > button > div{
	width: 124px;
	height: 20px;
	padding: 0 12px;
	display: flex;
	align-items: center;
}
#header > div:nth-child(2) > div:nth-child(3) > button > div > svg{
	width: 20px;
	height: 20px;
}
#header > div:nth-child(2) > div:nth-child(3) > button > div > div{
	width: 64px;
	height: 13px;
	font-size: 13px;
	letter-spacing:normal;
	line-height: 13px;
	font-weight: 550;
	margin-left: 8px;
	color: #303030;
}
#header > div:nth-child(3) > div:nth-child(1){
	width: 194px;
	height: 56px;
	display: flex;
	align-items: center;
}
#header > div:nth-child(3) > div:nth-child(1) > div:nth-child(1){
	width: 32px;
	height: 32px;
}
#header > div:nth-child(3) > div:nth-child(1) > div:nth-child(1) > button{
	width: 100%;
	height: 100%;
	border: none;
	background: inherit;
	display: flex;
    align-items: center;
    padding: 0 0;
    justify-content: center;
}
#header > div:nth-child(3) > div:nth-child(1) > div:nth-child(2){
	width: 90px;
	height: 32px;
	margin-left: 4px;
}
#header > div:nth-child(3) > div:nth-child(1) > div:nth-child(2) > ul {
	width: 100%;
	height: 100%;
	background-color: #f1f1f1;
	border-radius: 8px;
	display: flex;
	align-items: center;
	margin: 0 0;
	padding: 0 0;
	list-style: none;
	justify-content: center;
}
#header > div:nth-child(3) > div:nth-child(1) > div:nth-child(2) > ul > li{
	width: 28px;
	height: 32px;
	display: flex;
	align-items: center;
}
#header > div:nth-child(3) > div:nth-child(1) > div:nth-child(2) > ul > li > button{
	width: 28px;
	height: 28px;
	margin: 2px 0;
	padding: 4px;	
	display: flex;
	align-items: center;
	border-radius: 8px;
	border: none;
	background: inherit;
}
#header > div:nth-child(3) > div:nth-child(1) > div:nth-child(3){
	width: 64px;
	height: 32px;
	margin-left: 4px;
	display: flex;
}
#header > div:nth-child(3) > div:nth-child(1) > div:nth-child(3) > button{
	width: 32px;
	height: 32px;
	border-radius: 8px;
	border: none;
	background: inherit;
	padding: 0 0;
	margin: 0 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
#header > div:nth-child(3) > div:nth-child(1) > div:nth-child(3) > button > svg{
	width: 20px;
	height: 20px;
}
#header > div:nth-child(3) > div:nth-child(2){
	width: 48px;
	height: 56px;
	margin: 0 0 0 16px;
	display: flex;
	align-items: center;
}
#header > div:nth-child(3) > div:nth-child(2) > button{
	width: 48px;
	height: 28px;
	padding: 6px 12px;
	background: #303030;
	border: none;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#header > div:nth-child(3) > div:nth-child(2) > button > span{
	width: 24px;
	height: 16px;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: 550;
	letter-spacing: normal;
	line-height: 16px;
}
#boad_1 > ul{
	width: 52px;
	height: 88px;
	list-style: none;
	margin: 0 0;
	padding: 0 0;
	display: flex;
	flex-direction: column;
    align-items: center;
}
#boad_1 > ul > li{
	width: 40px;
	height: 40px;
	margin: 2px 0;
}
#boad_1 > ul > li:nth-child(1) > button{
	width: 100%;
	height: 100%;
	padding: 10px;
	background: #00000014;
	border: none;
	border-radius: 8px;
}
#boad_1 > ul > li:nth-child(2) > button{
	width: 100%;
	height: 100%;
	padding: 10px;
	background: inherit;
	border: none;
	border-radius: 8px;
}
#boad_2 > div:nth-child(1){
	width: 300px;
	height: 118px;
	border-bottom: 1px solid rgb(235 235 235);
	position: sticky;
}
#boad_2 > div:nth-child(1) > div{
	width: 300px;
	height: 117px;
	padding: 0 0 0 16px;
}
#boad_2 > div:nth-child(1) > div > div{
	width: 284px;
	height: 117px;
	padding: 14px 16px;
}
#boad_2 > div:nth-child(1) > div > div > div{
	width: 252px;
	height: 89px;
}
#boad_2 > div:nth-child(1) > div > div > div > div:nth-child(1){
	width: 252px;
	height: 32px;
	padding: 0 0 12px;
	border-bottom: 1px solid rgb(235 235 235);
}
#boad_2 > div:nth-child(1) > div > div > div > div:nth-child(1) > h1{
	padding: 0 0;
	margin: 0 0;
	color: #303030;
	font-size: 14px;
	font-weight: 650;
	letter-spacing: normal;
	line-height: 20px;
}
#boad_2 > div:nth-child(1) > div > div > div > div:nth-child(2){
	width: 252px;
	height: 56px;
	padding: 8px 0 0;
}
#boad_2 > div:nth-child(1) > div > div > div > div:nth-child(2) > div:nth-child(1){
	width: 252px;
	height: 24px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#boad_2 > div:nth-child(1) > div > div > div > div:nth-child(2) > div:nth-child(1) > h3{
	padding: 0 0;
	margin: 0 0;
	color: #303030;
	font-size: 13px;
	font-weight: 650;
	letter-spacing: normal;
	line-height: 20px;
}
#boad_2 > div:nth-child(1) > div > div > div > div:nth-child(2) > div:nth-child(1) > button{
	width: 50px;
	height: 32px;
	padding: 6px 12px;
	margin: -6px -12px;
	background: inherit;
	border: none;
}
#boad_2 > div:nth-child(1) > div > div > div > div:nth-child(2) > div:nth-child(1) > button > span{
	width: 26px;
	height: 20px;
	color: #005BD3;
	letter-spacing: normal;
	line-height: 20px;
	font-weight: 450;
	font-size: 13px;
}
#boad_2 > div:nth-child(1) > div > div > div > div:nth-child(2) > div:nth-child(2){
	width: 252px;
	height: 24px;
	display: flex;
	align-items: center;
}
#boad_2 > div:nth-child(1) > div > div > div > div:nth-child(2) > div:nth-child(2) > div{
	width: 101.08px;
	height: 24px;
	display: flex;
	align-items: center;
}
#boad_2 > div:nth-child(1) > div > div > div > div:nth-child(2) > div:nth-child(2) > div > div:nth-child(1){
	width: 73.08px;
	height: 24px;
}
#boad_2 > div:nth-child(1) > div > div > div > div:nth-child(2) > div:nth-child(2) > div > div:nth-child(1) > a{
	width: 73.08px;
	height: 16px;
	color: #303030;
	font-size: 13px;
	font-weight: 450;
	letter-spacing: normal;
	line-height: 20px;
}
#boad_2 > div:nth-child(1) > div > div > div > div:nth-child(2) > div:nth-child(2) > div > div:nth-child(2){
	width: 20px;
	height: 24px;
	display: flex;
}
#boad_2 > div:nth-child(2){
	width: 300px;
	height: 797px;
	padding: 0 0 16px;
}
#boad_2 > div:nth-child(2) > section:nth-child(1){
	width: 300px;
	height: 260px;
	border-bottom: 1px solid rgb(235 235 235);
}
#head_text > section:nth-child(1) {
	width: 283px;
	height: 36px;
	padding-top: 8px;
}
#head_text > section:nth-child(1) > h3 {
	width: 283px;
	height: 28px;
	padding-left: 32px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 13px;
}
#head_text > section:nth-child(2) {
	width: 283px;
	height: 220px;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 8px;
}
#head_text > section:nth-child(2) > ol:nth-child(1) {
	width: 275px;
	height: 200px;
	margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}
#head_text > section:nth-child(2) > ol:nth-child(1) > li:nth-child(1) {
	width: 275px;
	height: 178px;
	padding-left: 8px;
	padding-right: 8px;
}
#head_text > section:nth-child(2) > ol:nth-child(1) > li:nth-child(1) > div:nth-child(1) {
	width: 259px;
	height: 34px;
}
#head_text > section:nth-child(2) > ol:nth-child(1) > li:nth-child(1) > div:nth-child(2) {
	width: 259px;
	height: 144px;
	margin-top: 5px;
}
#head_text > section:nth-child(2) > ol:nth-child(1) > li:nth-child(1) > div:nth-child(2) > ol:nth-child(1){
	width: 259px;
	hieght: 144px;
	padding-left: 36px;
}
#head_text > section:nth-child(2) > ol:nth-child(1) > li:nth-child(1) > div:nth-child(2) > ol:nth-child(1) > li:nth-child(1){
    margin-left: 0px;
}
#head_text > section:nth-child(2) > ol:nth-child(1) > li:nth-child(1) > div:nth-child(2) > ol:nth-child(1) > li:nth-child(2){
	width: 243px;
	height: 34px;
	margin-top: 12px;
	display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#head_text > section:nth-child(2) > ol:nth-child(1) > li:nth-child(1) > div:nth-child(2) > ol:nth-child(1) > li:nth-child(2) > button:nth-child(1) > span:nth-child(1)  {
	display: flex;
}
#head_text > section:nth-child(2) > ol:nth-child(1) > li:nth-child(1) > div:nth-child(2) > ol:nth-child(1) > li:nth-child(2) > button:nth-child(1) > span:nth-child(1) > span:nth-child(1) {
	display:block;
}
#head_text > section:nth-child(2) > ol:nth-child(1) > li:nth-child(1) > div:nth-child(2) > ol:nth-child(1) > li:nth-child(3){
	width: 243px;
	height: 34px;
	margin-top: 2px;
}
#head_text > section:nth-child(2) > ol:nth-child(1) > li:nth-child(1) > div:nth-child(2) > ol:nth-child(1) > li:nth-child(4){
	width: 243px;
	height: 34px;
	margin-top: 2px;
	color: #005bd3;
}
#head_text > section:nth-child(2) > ol:nth-child(1) > li:nth-child(2){
	width: 275px;
	height: 34px;
	padding-left: 8px;
	padding-right: 8px;
	margin-top: 2px;
	margin-left: 20px;
}
#head_text > section:nth-child(2) > ol:nth-child(1) > li:nth-child(2) > div:nth-child(1) {
	width: 259px;
	height: 34px;
}
#head_text > section:nth-child(2) > ol:nth-child(1) > li:nth-child(2) > div:nth-child(1) > svg {
	width: 20px;
	height: 20px;
	position: absolute;
}
#head_text > section:nth-child(2) > ol:nth-child(1) > li:nth-child(2) > div:nth-child(1) > svg:nth-child(1) {
	margin-left: 20px;
}
#head_text > section:nth-child(2) > ol:nth-child(1) > li:nth-child(2) > div:nth-child(1) > span:nth-child(2) {
	font-size: 13px;
	position: absolute;
	margin-left: 45px;
}
#boad_2 > div:nth-child(2) > section:nth-child(2) {
	width: 300px;
	height: 436px;
	border-bottom: 1px solid rgb(235 235 235);
}
#template{
	width: 300px;
	height: 436px;
}
#template > section:nth-child(1){
	width: 300px;
	height: 36px;
	padding: 8px 0 0 0;
}
#template > section:nth-child(2){
	width: 300px;
	height: 400px;
	display: flex;
    justify-content: center;
}
#template > section:nth-child(1) > h3 {
	width: 283px;
	height: 28px;
	padding-left: 32px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 13px;
}
#template > section:nth-child(2) > ol{
	width: 292px;
	height: 400px;
	margin: 0 0;
	padding: 0 0;
}
#template > section:nth-child(2) > ol > li:nth-child(1){
	width: 292px;
	height: 322px;
	margin: 2px 0 0 0;
	padding: 0 8px;
}
#template > section:nth-child(2) > ol > li:nth-child(1) > div > button{
	width: 259px;
	height: 34px;
	border: none;
    background: inherit;
    padding: 0 0;
    display: flex;
    align-items: center;
}
#template > section:nth-child(2) > ol >  li:nth-child(1) > ol:nth-child(2){
	width: 259px;
	height: 288px;
	padding-left: 36px;
	display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#floor > section:nth-child(1){
	width: 300px;
	height: 36px;
	padding: 8px 0 0;
}
#floor > section:nth-child(1) >div{
	width: 292px;
	height: 28px;
	padding: 4px 4px 4px 28px;
}
#floor > section:nth-child(1) >div > h3{
	width: 39px;
	height: 20px;
	color: #303030;
	letter-spacing: normal;
	line-height: 20px;	
	font-size: 13px;
	font-weight: 650;
	margin: 0 0;
	padding: 0 0;
}
#floor > section:nth-child(2){
	width: 300px;
	height: 502px;
}
#floor > section:nth-child(2) > div{
	width: 300px;
	height: 532px;
	padding: 0 4px;
}
#floor > section:nth-child(2) > div > div{
	width: 292px;
	height: 532px;
	padding: 0 0 8px;
}
#floor > section:nth-child(2) > div > div > ol{
	width: 292px;
	height: 524px;
	margin: 0 0;
	padding: 0 0;
	list-style: none;
}
#floor > section:nth-child(2) > div > div > ol > li:nth-child(1){
	width: 292px;
	height: 142px;
	margin: 2px 0 0;
	padding: 0 8px;
}
#floor > section:nth-child(2) > div > div > ol > li:nth-child(1) > div:nth-child(1){
	width: 276px;
	height: 34px;
}
#floor > section:nth-child(2) > div > div > ol > li:nth-child(1) > div:nth-child(1) > button{
	width: 100%;
	height: 100%;
	border: none;
	background: inherit;
	padding: 0 0;
	display: flex;
	align-items: center;
}
#floor > section:nth-child(2) > div > div > ol > li:nth-child(1) > div:nth-child(1) > button > svg:nth-child(1){
	width: 20px;
	height: 20px;
}
#floor > section:nth-child(2) > div > div > ol > li:nth-child(1) > div:nth-child(1) > button > span{
	width: 256px;
	height: 34px;
	display: flex;
	align-items: center;
    justify-content: flex-start;
}
#floor > section:nth-child(2) > div > div > ol > li:nth-child(1) > div:nth-child(1) > button > span > svg{
	width: 20px;
	height: 20px;
}
#floor > section:nth-child(2) > div > div > ol > li:nth-child(1) > div:nth-child(1) > button > span > span{
	font-size: 13px;
	font-weight: 450;
	letter-spacing: normal;
	line-height: 20px;
	margin-left: 3px;
}
#floor > section:nth-child(2) > div > div > ol > li:nth-child(1) > div:nth-child(2){
	width: 276px;
	height: 108px;
}
#floor > section:nth-child(2) > div > div > ol > li:nth-child(1) > div:nth-child(2) > ol{
	width: 276px;
	height: 108px;
	padding: 0 0 0 16px;
	list-style: none;
}
.liyeon{
	width: 260px;
	height: 34px;
	margin-top: 2px;
}
.liyeon > button{
	width: 100%;
	height: 100%;
	border: none;
	background: inherit;
	padding: 0 0;
	display: flex;
	align-items: center;
}
.liyeon > button > span{
	width: 260px;
	height: 34px;
	padding: 0 0 0 20px;
	display: flex;
	align-items: center;
}
.liyeon > button > span > svg{
	width: 20px;
	height: 20px;
}
.liyeon > button > span > span{
	font-size: 13px;
	font-weight: 450;
	letter-spacing: normal;
	line-height: 20px;
	margin-left: 3px;
}
#floor > section:nth-child(2) > div > div > ol > li:nth-child(2){
	width: 292px;
	height: 10px;
}
#floor > section:nth-child(2) > div > div > ol > li:nth-child(3){
	width: 292px;
	height: 322px;
	margin: 2px 0 0;
	padding: 0 8px;
}
#floor > section:nth-child(2) > div > div > ol > li:nth-child(4){
	width: 292px;
	height: 10px;
}
#floor > section:nth-child(2) > div > div > ol > li:nth-child(3) > div:nth-child(1) > button{
	width: 100%;
	height: 100%;
	border: none;
	background: inherit;
	padding: 0 0;
	display: flex;
	align-items: center;
}
#floor > section:nth-child(2) > div > div > ol > li:nth-child(3) > div:nth-child(1) > button > svg:nth-child(1){
	width: 20px;
	height: 20px;
}
#floor > section:nth-child(2) > div > div > ol > li:nth-child(3) > div:nth-child(1) > button > span{
	width: 256px;
	height: 34px;
	display: flex;
	align-items: center;
    justify-content: flex-start;
}
#floor > section:nth-child(2) > div > div > ol > li:nth-child(3) > div:nth-child(1) > button > span > svg{
	width: 20px;
	height: 20px;
}
#floor > section:nth-child(2) > div > div > ol > li:nth-child(3) > div:nth-child(1) > button > span > span{
	font-size: 13px;
	font-weight: 450;
	letter-spacing: normal;
	line-height: 20px;
	margin-left: 3px;
}
#floor > section:nth-child(2) > div > div > ol > li:nth-child(3) > div:nth-child(2){
	width: 276px;
	height: 288px;
}
#floor > section:nth-child(2) > div > div > ol > li:nth-child(3) > div:nth-child(2) > ol{
	width: 276px;
	height: 288px;
	padding: 0 0 0 16px;
	list-style: none;
}
.liyeon > button > span > img{
	width: 20px;
	height: 20px;
}
#boad_3 .scroll-container{
	width: 1265px;
	height: 100%;
	padding : 8px;
	background-color: white;
	background-clip: content-box;
	border-radius: 16px;
	overflow-x: hidden;
    overflow-y: scroll;
}
.noticeline {
	width: 100%;
	height: 39px;
}
.headline {
	width: 100%;
	height: 80.44px;
}
.mainproduct {
	width: 100%;
	height: 942.56px;
}
.page-width {
	width: 1200px;
	height: 100%;
	margin: 0 24.5px;
	padding: 0 50px;
}
.product-left-right {
	width: 1100px;
	height: 100%;
	display: flex;
}
.product-left{
	width: 605px;
	height: 100%;
}
.left-ul {
	width: 100%;
	height: 893.77px;
	margin: 0 0 20px 0;
	padding: 0 0 0 0;
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    list-style: none;
}
.big-li {
	width: 605px;
	height: 592.438px;
}
.big-li > img {
	width: 100%;
	height: 100%;
}
.small-li {
	width: 298.5px;
	height: 293.328px;
}
.small-li > img {
	width: 100%;
	height: 100%;
}
.product-right{
	width: 495px;
	height: 100%;
	padding: 0 0 0 50px;
}
.right-div{
	width: 445px;
	height: 100%;
}
.pdtitle{
	width: 445px;
	height: 52px;
	margin: 0 0 15px 0;
}
.pdtitle > h1{
	width: 100%;
	height: 100%;
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0.6px;
	line-height: 52px;
	margin: 0 0 0 0;
}
.pdcontent {
	width: 445px;
	height: 172.78px;
	margin: 25px 0 25px 0;
}
.pdcontent > p {
	width: 100%;
	height: 100%;
	margin: 0 0;
	padding : 0 0;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	color : rgb(149, 149, 149);
	letter-spacing: 0.6px;
	line-height: 28.8px;
}
.relateproduct {
	width: 100%;
	height: 476.08px;
}
.emailcreate {
	width: 100%;
	height: 211px;
}
.pdprice{
	width: 445px;
	height: 32px;
	margin: 15px 0 15px 0;
}
.pdprice > span{
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 1.3px;
	line-height: 27px;
}
.pdoption {
	width: 445px;
	height: 250px;
	margin: 15px 0 15px 0;
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.option1{
	display: flex;
}
.custom-radio-btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: inherit;
  border: 1px solid black;
  border-radius: 16px;
  cursor: pointer;
}
input[type="radio"] {
    display: none;
}
.custom-radio-btn.active,
.custom-radio-btn:hover {
  background-color: #ddd;
}

input[type="radio"]:checked + .custom-radio-btn {
  background-color: black;
  color: white;
}
.pdquantity {
	width: 440px;
	height: 78.5px;
	margin : 15px 0 15px 0;
}
.pdaddcart {
	width: 445px;
	height: 45px;
	margin: 15px 0 15px 0;
}
fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

legend {
    font-weight: bold;
    margin-bottom: 8px;
}

input[type="radio"] {
    margin-right: 5px;
}

label {
    margin-right: 20px;
    margin-bottom: 5px;
    display: inline-block;
}

.pdquantity fieldset {
    display: flex;
    align-items: center;
}

.pdquantity button {
    width: 30px;
    height: 30px;
    margin: 0 5px;
}

.pdquantity input[type="text"] {
    width: 50px;
    text-align: center;
}
.foot {
	width: 100%;
	height: 586.95px;
}
#boad_4 > div{
	width: 300px;
	height: 312px;
	padding: 0 16px;
}
#boad_4 > div > div:nth-child(1){
	width: 268px;
	height: 56px;
	padding: 0 0 16px;
}
#boad_4 > div > div:nth-child(1) > svg{
	width: 40px;
	height: 40px;
}
#boad_4 > div > div:nth-child(2){
	width: 268px;
	height: 256px;
}
#boad_4 > div > div:nth-child(2) > h2{
	width: 268px;
	height: 20px;
	color: #303030;
	padding: 0 0;
	margin: 0 0;
	font-size: 14px;
	font-weight: 650;
	letter-spacing: normal;
	line-height: 20px;
}
#boad_4 > div > div:nth-child(2) > p{
	width: 241.19px;
	height: 40px;
	margin: 8px 0 0;
	padding: 0 0;
}
#boad_4 > div > div:nth-child(2) > p > span{
	width: 235.25px;
	height: 36px;
	color: #616161;
	font-size: 13px;
	font-weight: 450;
	letter-spacing: normal;
	line-height: 20px;
}