@charset "UTF-8";
* { box-sizing: border-box; }
.border {
	border: 1px solid red;
}
body {
	margin: 0 auto;
	overflow-y: hidden;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#div_chatst_main_box1 {
	width: 100%;
	height: 100vh;
	display: flex;
	border: solid #ddd;
	border-width: 1px;
	margin-top: -1px;
}
#div_chatst_main_inner1 {
	width: 260px;
	height: 100vh;
	border: solid #ddd;
	border-width: 1px;
	margin-top: -3px;
}
#div_chatst_main_small_inner1 {
	width: 260px;
	height: 100vh;
	margin: 0 auto;
	border: 1px solid transparent;
}
#div_chatst_logo {
	width: 250px;
	height: 35px;
	margin: 0 auto;
	margin-top: 15px;
	display: flex;
	justify-content: center;
	border: none;
}
#div_chatst_logo > img {
	width: 23px;
	height: 23px;
	float: left;
	margin-left: -7px;
	margin-top: 5px;
	cursor: pointer;
}
#chatst_SPIGEN_box {
	width: 168px;
	height: 30px;
	border-radius: 8px;
	border: solid #ddd;
	border-width: 1px;
	float: left;
	margin-left: 5px;
	margin-top: 2px;
	cursor: pointer;
}
#div_chatst_logo2 > img {
	width: 23px;
	height: 23px;
	float: left;
	margin-left: -3px;
	margin-top: -2px;
	cursor: pointer;
}
#div_chatst_logo2 {
	width: 30px;
	height: 30px;
	border-radius: 8px;
	border: solid #ddd;
	border-width: 1px;
	background-color: white;
	float: left;
	margin-left: 9px;
	margin-top: 2px;
	cursor: pointer;
}
#div_chatst_content_box1 {
	width: 235px;
	height: 68px;
	margin: 0 auto;
}
#div_chatst_small_content_box1 {
	width: 235px;
	height: 28px;
	margin-left: -1px;
	margin-bottom: 10px;
	margin-top: 12px;
	font-size: 13.5px;
	cursor: pointer;
}
#div_chatst_진행중_logo {
	margin-left: 4px;
	margin-top: 3px;
	cursor: pointer;
}
#div_chatst_진행중_text {
	width: 100px;
	height: 20px;
	float: right;
	margin-right: 104px;
	margin-top: 1px;
	cursor: pointer;
}
#div_chatst_small_content_box2 {
	width: 235px;
	height: 28px;
	margin-left: -1px;
	font-size: 13.5px;
	cursor: pointer;
}
#div_chatst_finish_logo {
	margin-left: 4px;
}
#div_chatst_finish_text {
	width: 100px;
	height: 20px;
	float: right;
	margin-right: 104px;
	margin-top: -2px;
}
#div_chatst_main_inner2 {
	width: 360px;
	height: 100vh;
	border: solid #ddd;
	border-width: 1px;
	margin-left: -1px;
	margin-top: -3px;
	border-top: none;
}
#div_chatst_open_box {
	width: 360px;
	height: 57px;
	margin-left: -1px;
	border: 1px solid #ddd;
}
#div_chatst_open {
	width: 328px;
	height: 20px;
	margin-top: 17px;
	margin-left: 15px;
	font-weight: bold;
	font-size: 13.5px;
}
#div_chatst_list_box1 {
	width: 360px;
	height: 202px;
	margin-left: -1px;
	margin-top: -1px;
	border: solid #ddd;
	border-width: 1px;
	margin-left: -1px;
	border-bottom: none;
}
#div_chatst_room_box1 {
	width: 360px;
	height: 68px;
	border: solid #ddd;
	border-width: 1px;
	border-bottom: none;
	margin-top: -1px;
	margin-left: -1px;
	cursor: pointer;
}
#div_chatst_room_box1:hover {
	background-color: #F1F1F1;
	opacity: 0.5;
}
#div_chatst_room_logo_box1 {
	width: 20px;
	height: 20px;
	margin-left: 17px;
	margin-top: 15px;
}
#div_chatst_cusname_box1 {
	width: 40px;
	height: 20px;
	float: right;
	margin-top: -22px;
	margin-right: 275px;
	font-size: 12.5px;
	font-weight: bold;
}
#div_chatst_date_box1 {
	width: 40px;
	height: 20px;
	font-size: 11px;
	float: right;
	margin-right: 10px;
	margin-top: -21px;
}
#div_chatst_chatcon_box1 {
	width: 250px;
	height: 20px;
	font-size: 12.5px;
	margin-left: 43px;
	margin-top: 2px;
}
#div_채팅방_box2 {
	width: 360px;
	height: 68px;
	border: solid #ddd;
	border-width: 1px;
	margin-top: -1px;
	margin-left: -1px;
}
#div_채팅방_box3 {
	width: 360px;
	height: 68px;
	border: solid #ddd;
	border-width: 1px;
	margin-top: -1px;
	margin-left: -1px;
}
#div_Chat_content_box1 {
	width: 100%;
	height: 100vh;
	margin-top: -2px;
	margin-left: -1px;
	border: solid #ddd;
	border-width: 1px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
#div_chatst_click_sentence {
	display: none;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#div_chatst_sentence {
	width: 30px;
	height: 30px;
	position: relative;
}
#div_top_content_box1 {
	width: 100%;
	height: 57px;
	margin-left: -1px;
	margin-top: -2.5px;
	border: solid #ddd;
	border-width: 1px;
}
#div_top_content1 {
	width: 59.38px;
	height: 46px;
	margin-top: 9px;
	margin-left: 10px;
	border: 1px solid transparent;
	cursor: pointer;
}
#div_top_small_content1 {
	font-size: 14px;
	font-weight: bold;
	margin-left: 5px;
	margin-bottom: 3px;
}
#div_top_small_content2 {
	float: right;
	margin-top: -22px;
	margin-right: 3px;
}
#div_top_small_content3 {
	font-size: 12.5px;
	margin-left: 5px;
}
#div_top_content2 {
	width: 134px;
	height: 32px;
	float: right;
	margin-right: 20px;
	margin-top: -42px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#div_button1 {
	display: flex;
	width: 18px;
	height: 18px;
	cursor: pointer;
}
#상단바로고1 {
	width: 18px;
	height: 18px;
}

#div_button2 {
	display: flex;
	width: 18px;
	height: 18px;
	cursor: pointer;
}
#div_button3 {
	display: flex;
	width: 18px;
	height: 18px;
	cursor: pointer;
}
#div_button4 {
	display: flex;
	width: 18px;
	height: 18px;
	margin-right: -5px;
	cursor: pointer;
}
#div_input_box1 {
	position: absolute;
	bottom: 0;
	float: left;
	margin-left: 16px;
	width: 1270px;
	height: 140px;
}
#div_input_small_box1 {
	width: 1270px;
	height: 50px;
	margin-bottom: -1px;
	border: solid #ddd;
	border-width: 1px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
#div_input_small_box1 > img {
	float: left;
	margin-left: 10px;
	margin-top: 12px;
}
#div_이메일_box1 {
	float: right;
	width: 1220px;
	height: 48px;
	border-radius: 8px;
	border: none;
}
#div_input_small_box2 {
	width: 1270px;
	height: 50px;
	margin-bottom: -1px;
	border: solid #ddd;
	border-width: 1px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: rgba(243, 243, 243);
	opacity: 0.4px;
}
#div_input_img {
	width: 300px;
	height: 25px;
	margin-top: 13px;
	margin-left: 10px;
}
#div_input_logo_button1 {
	width: 25px;
	height: 25px;
	background-color: rgba(243, 243, 243);
	border: none;
}
#div_input_logo1 {
	width: 20px;
	height: 20px;
	margin-right: 10px;
	margin-top: -1px;
	cursor: pointer;
}
#div_input_logo_button2 {
	width: 25px;
	height: 25px;
	background-color: rgba(243, 243, 243);
	border: none;
}
#div_input_logo2 {
	width: 20px;
	height: 20px;
	margin-right: 10px;
	cursor: pointer;
}
#div_input_logo_button3 {
	width: 25px;
	height: 25px;
	background-color: rgba(243, 243, 243);
	border: none;
}
#div_input_logo3 {
	width: 20px;
	height: 20px;
	margin-right: 10px;
	cursor: pointer;
}
#div_input_logo_button4 {
	width: 25px;
	height: 25px;
	background-color: rgba(243, 243, 243);
	border: none;
}
#div_input_logo4 {
	width: 20px;
	height: 20px;
	cursor: pointer;
}
#div_이메일보내기버튼 {
	width: 105px;
	height: 32px;
	border-radius: 11px;
	background-color: #303030;
	border-width: 1px;
	color: white;
	font-weight: bold;
	font-size: 12.5px;
	float: right;
	margin-top: -30px;
	margin-right: 8px;
	cursor: pointer;
}
#div_input_small_box3 {
	width: 1270px;
	height: 32px;
}
#div_input_small_content1 {
	float: right;
	color: #005BD3;
	font-size: 12.5px;
	margin-top: 5px;
}
#div_input_small_content2 {
	float: right;
	margin-right: 5px;
	font-size: 12.5px;
	margin-top: 5px;
}
#div_input_small_content3 {
	float: right;
	font-weight: bold;
	font-style: #616161;
	font-family: sans-serif;
	font-size: 12.5px;
	margin-right: 2px;
	margin-top: 5px;
}
#div_middle_content_box2 {
	width: 100%;
	height: 750px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border: transparent;
}
#div_middle_content_small_box1 {
	width: 552px;
	height: 152px;
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	border: transparent;
}
#div_middle_content_small_box1-1 {
	width: 383.89px;
	height: 151px;
	margin-top: -1px;
	flex-direction: column;
	padding-top: 30px;
	border: transparent;
}
#div_chatst_chatguide_img {
	width: 18px;
	height: 20px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	flex-direction: column;
}
#div_chatst_chatguide_content1 {
	width: 300px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 14px;
	font-weight: bold;
}
#div_chatst_chatguide_content2 {
	width: 367.89px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3px;
	font-size: 14px;
}
#div_middle_content_small_box2 {
	width: 552px;
	height: 64px;
	margin-top: -1px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
	text-align: center;
	border: transparent;
}
#div_chatst_chatguide_content3 {
	width: 552px;
	height: 20px;
}
#div_chatst_chatguide_content4 {
	width: 552px;
	height: 20px;
	text-align: center;
	font-size: 13px;
	margin-top: 10px;
}
#div_middle_content_small_box3 {
	width: 552px;
	height: 74px;
	float: left;
	margin-left: -700px;
	margin-top: -1px;
	position: relative;
	border: transparent;
}
#div_customer_img {
	float: left;
	margin-top: 49px;
	cursor: pointer;
}
#div_chatst_chatting_box1 {
	width: 160px;
	height: 74px;
	float: left;
	margin-left: 5px;
	margin-top: -1px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(243, 243, 243);
	border: none;
	border-radius: 18px;
}
#div_chatst_cuscon_box3-1 {
	font-size: 13.5px;
	line-height: 20px;
	font-family: sans-serif;
}
#div_chatst_cuscon_box3-2 {
	float: left;
	margin-left: -75px;
	margin-top: 10px;
	font-size: 12.5px;
	font-family: sans-serif;
}
#div_middle_content_small_box4 {
	width: 552px;
	height: 74px;
	float: right;
	margin-right: -700px;
	margin-top: -1px;
	position: relative;
	border: transparent;
}
#div_user_img {
	width: 24px;
	height: 24px;
	float: right;
	margin-top: 49px;
}
#div_채팅_box2 {
	width: 302px;
	height: 74px;
	float: right;
	margin-right: 5px;
	margin-top: -1px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #EAF4FF;
	border: none;
	border-radius: 18px;
}
#div_chatst_cuscon_box4-1 {
	font-size: 13.5px;
	line-height: 20px;
	font-family: sans-serif;
}
#div_chatst_cuscon_box4-2 {
	float: left;
	margin-left: -228px;
	margin-top: 10px;
	font-size: 12.5px;
	font-family: sans-serif;
}
#div_middle_content_small_box5 {
	width: 552px;
	height: 74px;
	float: left;
	margin-left: -700px;
	margin-top: -1px;
	position: relative;
	border: transparent;
}
#div_chatst_chatting_box3 {
	width: 160px;
	height: 74px;
	float: left;
	margin-left: 5px;
	margin-top: -1px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(243, 243, 243);
	border: none;
	border-radius: 18px;
}
#div_chatst_cuscon_box5-1 {
	font-size: 13.5px;
	line-height: 20px;
	font-family: sans-serif;
}
#div_chatst_cuscon_box5-2 {
	float: left;
	margin-left: -75px;
	margin-top: 10px;
	font-size: 12.5px;
	font-family: sans-serif;
}
#div_middle_content_small_box6 {
	width: 552px;
	height: 74px;
	float: right;
	margin-right: -700px;
	margin-top: -1px;
	position: relative;
	border: transparent;
}
#div_user_img {
	width: 24px;
	height: 24px;
	float: right;
	margin-top: 49px;
}
#div_chatst_chatting_box2-1 {
	width: 224px;
	height: 74px;
	float: right;
	margin-right: 5px;
	margin-top: -1px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #EAF4FF;
	border: none;
	border-radius: 18px;
}
#div_chatst_cuscon_box6-1 {
	font-size: 13.5px;
	line-height: 20px;
	font-family: sans-serif;
}
#div_chatst_cuscon_box6-2 {
	float: left;
	margin-left: -142px;
	margin-top: 10px;
	font-size: 12.5px;
	font-family: sans-serif;
}
#div_middle_content_small_box7 {
	width: 552px;
	height: 74px;
	float: left;
	margin-left: -700px;
	margin-top: -1px;
	position: relative;
	border: transparent;
}
#div_chatst_chatting_box3 {
	width: 140px;
	height: 74px;
	float: left;
	margin-left: 5px;
	margin-top: -1px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(243, 243, 243);
	border: none;
	border-radius: 18px;
}
#div_chatst_cuscon_box7-1 {
	font-size: 13.5px;
	line-height: 20px;
	font-family: sans-serif;
}
#div_chatst_cuscon_box7-2 {
	float: left;
	margin-left: -75px;
	margin-top: 10px;
	font-size: 12.5px;
	font-family: sans-serif;
}