@charset "UTF-8";
:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}
* { 
	box-sizing: border-box;
	font-family: InterVariable, sans-serif;
 }
.border {
	border: 1px solid red;
}
body {
	-webkit-font-smoothing: antialiased;
	margin: 0 auto;
}
#header{
	width: 1920px;
	height: 56px;
	display: flex;
	position: sticky;
	box-shadow: rgb(235 235 235) 0px -1px 0px 0px inset;
}
#boad{
	width: 1920px;
	height: 915px;
	display: flex;
}
#boad_1{
	width: 52px;
	height: 100%;
	padding: 4px 0 0 0;
	border-right: 1px solid rgb(235 235 235);
}
#boad_2{
	width: 300px;
	height: 100%;
	border-right: 1px solid rgb(235 235 235);
}
#boad_3{
	width: 1265px;
	height: 100%;
	padding: 8px;
	border-right: 1px solid rgb(235 235 235);
}
#boad_4{
	width: 303px;
	height: 100%;
	padding: 8px 0 16px 0;
}
#header > div:nth-child(1){
	width: 231.19px;
	height: 56px;
	display: flex;
	align-items: center;
    justify-content: space-between;
}
#header > div:nth-child(2){
	width: 1414.81px;
	height: 56px;
	padding: 0 12px;
	display: flex;
	align-items: center;
    justify-content: center;
}
#header > div:nth-child(3){
	width: 274px;
	height: 56px;
	padding: 0 16px 0 0;
	display: flex;
	align-items: center;
}
#header > div:nth-child(1) > div:nth-child(1){
	width: 99.19px;
	height: 100%;
	display: flex;
	justify-content: space-between;
}
#header > div:nth-child(1) > div:nth-child(1) > div:nth-child(1){
	width: 56px;
	height: 55px;
	display: flex;
	align-items: center;
    justify-content: center;
}
#header > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > svg{
	width: 20px;
	height: 19.05px;
}
#header > div:nth-child(1) > div:nth-child(1) > div:nth-child(2){
	width: 35.19px;
	height: 56px;
	display: flex;
	align-items: center;
    justify-content: center;
}
#header > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > span{
	font-size: 13px;
	ont-weight: 450;
	letter-spacing: normal;
	line-height: 14.3px;
}
#header > div:nth-child(1) > div:nth-child(2) > span{
	width: 64px;
	height: 20px;
	margin: 0 4px 0 0;
	padding: 2px 8px;
	background: #B4FED2;
	display: flex;
	border-radius: 8px;
	align-items: center;
}
#header > div:nth-child(1) > div:nth-child(2) > span > svg{
	width: 20px;
	height: 20px;
}
#header > div:nth-child(1) > div:nth-child(2) > span > span{
	width: 36px;
	height: 16px;
	color: #0C5132;
	font-size: 12px;
	font-weight: 450;
	letter-spacing: normal;
	line-height: 16px;
}
#header > div:nth-child(1) > div:nth-child(2){
	width: 68px;
	height: 20px;
}
#header > div:nth-child(1) > div:nth-child(3){
	width: 32px;
	height: 32px;
}
#header > div:nth-child(1) > div:nth-child(3) > button{
	width: 100%;
	height: 100%;
	border: none;
	background: inherit;
	display: flex;
    align-items: center;
}
#header > div:nth-child(2) > div:nth-child(1){
	width: 106px;
	height: 32px;
}
#header > div:nth-child(2) > div:nth-child(1) > button{
	width: 100%;
	height: 100%;
	border: none;
	background: inherit;
	display: flex;
    align-items: center;
    padding: 0 0;
}
#header > div:nth-child(2) > div:nth-child(1) > button > div{
	width: 106px;
	height: 20px;
	padding: 0 12px;
	display: flex;
	align-items: center;
}
#header > div:nth-child(2) > div:nth-child(1) > button > div > svg:nth-child(1){
	width: 20px;
	height: 20px;
	margin: 0 4px;
}
#header > div:nth-child(2) > div:nth-child(1) > button > div > div{
	width: 26px;
	height: 13px;
	font-size: 13px;
	letter-spacing:normal;
	line-height: 13px;
	font-weight: 550;
	margin-left : 4px;
	color: #303030;
}
#header > div:nth-child(2) > div:nth-child(1) > button > div > svg:nth-child(3){
	width: 20px;
	height: 20px;
}
#header > div:nth-child(2) > div:nth-child(2) {
	width: 1px;
	height: 16px;
	background: #EBEBEB;
	margin: 0 0 0 12px;
}
#header > div:nth-child(2) > div:nth-child(3) {
	width: 124px;
	height: 32px;
}
#header > div:nth-child(2) > div:nth-child(3) > button{
	width: 100%;
	height: 100%;
	border: none;
	background: inherit;
	display: flex;
    align-items: center;
    padding: 0 0;
}
#header > div:nth-child(2) > div:nth-child(3) > button > div{
	width: 124px;
	height: 20px;
	padding: 0 12px;
	display: flex;
	align-items: center;
}
#header > div:nth-child(2) > div:nth-child(3) > button > div > svg{
	width: 20px;
	height: 20px;
}
#header > div:nth-child(2) > div:nth-child(3) > button > div > div{
	width: 52px;
	height: 13px;
	font-size: 13px;
	letter-spacing:normal;
	line-height: 13px;
	font-weight: 550;
	margin-left: 8px;
	color: #303030;
}
#header > div:nth-child(3) > div:nth-child(1){
	width: 194px;
	height: 56px;
	display: flex;
	align-items: center;
}
#header > div:nth-child(3) > div:nth-child(1) > div:nth-child(1){
	width: 32px;
	height: 32px;
}
#header > div:nth-child(3) > div:nth-child(1) > div:nth-child(1) > button{
	width: 100%;
	height: 100%;
	border: none;
	background: inherit;
	display: flex;
    align-items: center;
    padding: 0 0;
    justify-content: center;
}
#header > div:nth-child(3) > div:nth-child(1) > div:nth-child(2){
	width: 90px;
	height: 32px;
	margin-left: 4px;
}
#header > div:nth-child(3) > div:nth-child(1) > div:nth-child(2) > ul {
	width: 100%;
	height: 100%;
	background-color: #f1f1f1;
	border-radius: 8px;
	display: flex;
	align-items: center;
	margin: 0 0;
	padding: 0 0;
	list-style: none;
	justify-content: center;
}
#header > div:nth-child(3) > div:nth-child(1) > div:nth-child(2) > ul > li{
	width: 28px;
	height: 32px;
	display: flex;
	align-items: center;
}
#header > div:nth-child(3) > div:nth-child(1) > div:nth-child(2) > ul > li > button{
	width: 28px;
	height: 28px;
	margin: 2px 0;
	padding: 4px;	
	display: flex;
	align-items: center;
	border-radius: 8px;
	border: none;
	background: inherit;
}
#header > div:nth-child(3) > div:nth-child(1) > div:nth-child(3){
	width: 64px;
	height: 32px;
	margin-left: 4px;
	display: flex;
}
#header > div:nth-child(3) > div:nth-child(1) > div:nth-child(3) > button{
	width: 32px;
	height: 32px;
	border-radius: 8px;
	border: none;
	background: inherit;
	padding: 0 0;
	margin: 0 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
#header > div:nth-child(3) > div:nth-child(1) > div:nth-child(3) > button > svg{
	width: 20px;
	height: 20px;
}
#header > div:nth-child(3) > div:nth-child(2){
	width: 48px;
	height: 56px;
	margin: 0 0 0 16px;
	display: flex;
	align-items: center;
}
#header > div:nth-child(3) > div:nth-child(2) > button{
	width: 48px;
	height: 28px;
	padding: 6px 12px;
	background: #303030;
	border: none;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#header > div:nth-child(3) > div:nth-child(2) > button > span{
	width: 24px;
	height: 16px;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: 550;
	letter-spacing: normal;
	line-height: 16px;
}
#boad_1 > ul{
	width: 52px;
	height: 88px;
	list-style: none;
	margin: 0 0;
	padding: 0 0;
	display: flex;
	flex-direction: column;
    align-items: center;
}
#boad_1 > ul > li{
	width: 40px;
	height: 40px;
	margin: 2px 0;
}
#boad_1 > ul > li:nth-child(1) > button{
	width: 100%;
	height: 100%;
	padding: 10px;
	background: inherit;
	border: none;
	border-radius: 8px;
}
#boad_1 > ul > li:nth-child(2) > button{
	width: 100%;
	height: 100%;
	padding: 10px;
	background: #00000014;
	border: none;
	border-radius: 8px;
}
#headline {
	width: 300px;
	height: 49px;
	margin-bottom: 1px;
	border-bottom: 1px solid rgb(235 235 235);
}
#headline > div{
	width: 300px;
	height: 48px;
	padding: 0 16px;
}
#headline > div > header{
	width: 268px;
	height: 48px;
	padding: 14px 0;
}
#headline > div > header > div{
	width: 268px;
	height: 20px;
}
#headline > div > header > div > h1{
	letter-spacing: normal;
	line-height: 20px;
	font-size: 14px;
	font-weight: 650;
	margin: 0 0;
}
#boad_2 > div{
	width: 300px;
	height: 865px;
	display: flex;
	flex-direction: column;
}
.themekhan {
	width: 300px;
	height: 48px;
	border-bottom: 1px solid rgb(235 235 235);
}
.themebutton{
	width: 300px;
	height: 48px;
	padding: 0 12px 0 16px;
	margin: 0 0;
	background: inherit;
	border: none;
	display: flex;
	align-items: center;
}
.themebutton > h3 {
	width: 252px;
	height: 20px;
	letter-spacing: normal;
	line-height: 20px;
	font-size: 14px;
	font-weight: 650;
	margin: 0 0;
	display: flex;
}
.themebutton > svg{
	width: 20px;
	height: 20px;
}
.themelogo{
	width: 300px;
	height: 435px;
}
.themelogo > div{
	width: 300px;
	height: 435px;
	padding: 0 0 16px;
	border-bottom: 1px solid rgb(235 235 235);
}
.themelogo > div > section{
	width: 300px;
	height: 419px;
	padding: 0 0;
	margin: 0 0;
}
.themelogo > div > section > div{
	width: 300px;
	height: 419px;
	padding: 0 16px;
}
.themelogo > div > section > div > div{
	width: 268px;
	height: 419px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.themelogo > div > section > div > div > div:nth-child(1){
	width: 268px;
	height: 147px;
}
.jinbong{
	width: 268px;
	height: 29px;
	display: flex;
	align-items: center;
    justify-content: space-between;
}
.jinbong > span{
	letter-spacing: normal;
	line-height: 20px;
	font-size: 13px;
	font-weight: 450;
}
.jinbong > button{
	width: 64px;
	height: 28px;
	background: #FFFFFF;
	padding: 6px 12px 6px 6px;
	margin: 0 0;
	border: 1px solid rgb(235 235 235);
	display: flex;
	align-items: center;
	border-radius: 8px;
}
.jinbong > button > svg{
	width: 20px;
	height: 20px;
}
.jinbong > button > span{
	letter-spacing: normal;
	line-height: 20px;
	font-size: 12px;
	font-weight: 550;
	color: #303030;
}
.joohyeong{
	width: 268px;
	height: 118px;
}
.joohyeong > div:nth-child(1){
	width: 100%;
	height: 64px;
	padding: 16px;
	background: #F1F1F1;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	display: flex;
	flex-direction: column;
}
.joohyeong > div:nth-child(1) > div:nth-child(1){
	width: 100%;
	height: 2px;
	border: 1px solid gray;
}
.joohyeong > div:nth-child(1) > div:nth-child(2){
	width: 100%;
	height: 20px;
	margin-top: 10px;
}
.joohyeong > div:nth-child(1) > div:nth-child(2) > span{
	letter-spacing: normal;
	line-height: 20px;
	font-size: 13px;
	font-weight: 450;
	color: #616161;
}
.joohyeong > div:nth-child(2){
	width: 100%;
	height: 52px;
	padding: 12px;
	margin: 2px 0 0;
	background: #F1F1F1;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}
.joohyeong > div:nth-child(2) > button{
	width: 244px;
	height: 28px;
	background: #FFFFFF;
	padding: 6px 6px 6px 12px;
	border-radius: 8px;
	border: 1px solid rgb(235 235 235);
	display: flex;
	align-items: center;
    justify-content: center;
}
.joohyeong > div:nth-child(2) > button > span{
	letter-spacing: normal;
	line-height: 16px;
	font-weight: 550;
	font-size: 12px;
}
.joohyeong > div:nth-child(2) > button > svg{
	width: 20px;
	height: 20px;
}
.myeongchan{
	width: 268px;
	height: 29px;
	display: flex;
	align-items: center;
}
.myeongchan > span{
	letter-spacing: normal;
	line-height: 20px;
	font-size: 13px;
	font-weight: 450;
	color: #303030;
}
.yeongchan{
	width: 268px;
	height: 32px;
	display: flex;
}
.yeongchan > div{
	width: 70px;
	height: 32px;
	border: 1px solid rgb(177 177 177);
	border-left: none;
	display: flex;
	align-items: center;
	border-radius: 8px;
}
.yeongchan > div > input{
	width: 39.11px;
	height: 32px;
	padding: 6px 0 6px 12px;
	border: 1px solid rgb(177 177 177);
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	border-right: none;
}
.yeongchan > div > input:focus{
	outline: none;
}
.yeongchan > div > span{
	letter-spacing: normal;
	line-height: 20px;
	font-size: 13px;
	font-weight: 450;
	color: #616161;
}
.jooseung{
	width: 268px;
	height: 24px;
	padding: 4px 0 0;
}
.jooseung > span{
	letter-spacing: normal;
	line-height: 16px;
	font-weight: 450;
	font-size: 13px;
	color: #616161
}
.themelogo > div > section > div > div > div:nth-child(2){
	width: 268px;
	height: 61px;
	margin: 16px 0 0 0;
}
.themelogo > div > section > div > div > div:nth-child(3){
	width: 268px;
	height: 171px;
	margin: 16px 0 0 0;
}
.themecolor {
	width: 300px;
	height: 316px;
	padding: 0 0 16px;
}
.themecolor > div{
	width: 300px;
	height: 300px;
	padding: 0 16px;
}
.themecolor > div > div{
	width: 268px;
	height: 300px;
	display: flex;
	flex-direction: column;
}
.themecolor > div > div > div:nth-child(1){
	width: 100%;
	height: 20px;
	margin-bottom: 8px;
}
.themecolor > div > div > div:nth-child(1) > span{
	letter-spacing: normal;
	line-height: 16px;
	font-weight: 650;
	font-size: 13px;
	color: #303030;
}
.themecolor > div > div > p{
	width: 268px;
	height: 40px;
	color: #616161;
	font-size: 13px;
	font-weight: 450;
	letter-spacing: normal;
	line-height: 20px;
	margin: 0 0;
}
.themecolor > div > div > div:nth-child(3){
	width: 268px;
	height: 180.28px;
	margin-top: 12px;
	display: flex;
	flex-wrap: wrap;
	gap: 12px 15px;
}
.gooseong{
	width: 78.66px;
	height: 84.14px;
}
.gooseong > button{
	width: 100%;
	height: 100%;
	padding: 0 0;
	background-color: inherit;
	border: none;
	display: flex;
	flex-direction: column;
}
#chooga{
	width: 100%;
	height: 56.14px;
	background-color: #FFFFFF;
	border: 1px dashed #005bd3;
	border-radius: 8px;
	display: flex;
}
#chooga > svg{
	widt: 20px;
	height: 20px;
	fill: #005bd3;
}
.gooseong > button > div:nth-child(1){
	width: 100%;
	height: 56.14px;
	background-color: #FFFFFF;
	border: 1px solid rgb(235 235 235);
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.gooseong > button > div:nth-child(1) > div:nth-child(1){
	width: 28px;
	height: 19.8px;
	margin: 0 25.328px;
}
.gooseong > button > div:nth-child(1) > div:nth-child(2){
	width: 100%;
	height: 8px;
	display: flex;
	justify-content: center;
    align-items: center;
    gap: 5px;
}
.gooseong > button > div:nth-child(1) > div:nth-child(2) > div:nth-child(1){
	width: 16px;
	height: 8px;
	background-color: #DD1D1D;
	border-radius: 8px;
}
.gooseong > button > div:nth-child(1) > div:nth-child(2) > div:nth-child(2){
	width: 16px;
	height: 8px;
	background-color: inherit;
	border: 1px solid #DD1D1D;
	border-radius: 8px;
}
.gooseong > button > div:nth-child(2){
	width: 100%;
	height: 16px;
	margin: 8px 0 4px;
	display: flex;
	align-items: center;
    justify-content: center;
}
.gooseong > button > div:nth-child(2) > p{
	letter-spacing: normal;
	line-height: 16px;
	font-weight: 450;
	font-size: 12px;
}
#boad_4 > div{
	width: 300px;
	height: 312px;
	padding: 0 16px;
}
#boad_4 > div > div:nth-child(1){
	width: 268px;
	height: 56px;
	padding: 0 0 16px;
}
#boad_4 > div > div:nth-child(1) > svg{
	width: 40px;
	height: 40px;
}
#boad_4 > div > div:nth-child(2){
	width: 268px;
	height: 256px;
}
#boad_4 > div > div:nth-child(2) > h2{
	width: 268px;
	height: 20px;
	color: #303030;
	padding: 0 0;
	margin: 0 0;
	font-size: 14px;
	font-weight: 650;
	letter-spacing: normal;
	line-height: 20px;
}
#boad_4 > div > div:nth-child(2) > p{
	width: 241.19px;
	height: 40px;
	margin: 8px 0 0;
	padding: 0 0;
}
#boad_4 > div > div:nth-child(2) > p > span{
	width: 235.25px;
	height: 36px;
	color: #616161;
	font-size: 13px;
	font-weight: 450;
	letter-spacing: normal;
	line-height: 20px;
}