@charset "UTF-8";
@font-face {
    font-family: 'Shopify Sans Web Medium Regular';
    src: url('https://db.onlinewebfonts.com/c/ad26818d844de4534fd78bb03028ca79?family=Shopify+Sans+Web+Medium+Regular') format('woff2');
    font-display: swap;
}
* { box-sizing: border-box; }
	.border{
		border: 1px solid red; 
	}
	body{
		margin: 0;
		font-family: "Shopify Sans Web Medium Regular", sans-serif;
		background-color: #F1FFF9;
	}
	#section_head1{
		width: 1920px;
		height: 428px;
		margin: -1px 0px;
		padding: 16px 0px 40px;
		background-image: linear-gradient(0deg, #f1fff9, rgba(241, 255, 249, 0) 30%), radial-gradient(circle at 0 0, #5fd5b6 0, rgba(95, 213, 182, 0) 30%), linear-gradient(180deg, rgba(121, 223, 255, .7) -10%, rgba(121, 223, 255, 0) 70%), radial-gradient(circle at 95% 0, #d0f224 0, rgba(95, 213, 182, 0) 20%);
	}
	#section_head1 > div:nth-child(1){
		width: 1920px;
		height: 48px;
		margin-bottom : 40px;
	}
	#section_head1 > div:nth-child(1) > img{
		width: 168.75px;
		height: 48px;
		margin : 0px 875.625px
	}
	#section_head1 > div:nth-child(2){
		width: 1920px;
		height: 284px;
        text-align: center;
	}
	#section_head1 > div:nth-child(2) > div:nth-child(1){
		width: 1420px;
		height: 136px;
		margin: 0px 250px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	#section_head1 > div:nth-child(2) > div:nth-child(1) > h1{
		font-size : 48px;
		font-variation-settings : normal;
		font-weight : 700;
		height : 56px;
		width : 938.67px;
		letter-spacing : -0.96px;
		line-height : 56px;
		margin : 0;
	}
	#section_head1 > div:nth-child(2) > div:nth-child(1) > p{
		width: 938.68px;
		padding : 16px 0px 0px;
		font-size : 22px;
		font-variation-settings : normal;
		letter-spacing : -0.44px;
		line-height : 32px;
		margin : 0;
		text-align: center;
	}
	#section_head1 > div:nth-child(2) > div:nth-child(2) {
		width: 448px;
		height: 84px;
		margin: 0px 736px;
		padding: 24px 16px 0px;
	}
	#section_head1 > div:nth-child(2) > div:nth-child(2) > div{
		width: 416px;
		height: 60px;
		background-color: #ffffff;
		color: black;
		border: 1px solid rgb(229, 231, 235);
    	border-radius : 48px;
	}
	#section_head1 > div:nth-child(2) > div:nth-child(2) > div > input{
		width: 226.69px;
		height: 56px;
		font-size: 100%;
		float: left;
		border: none;
		outline: none;
		color: black;
		background-color:transparent;
		/*padding: 24px 16px 8px;*/
		text-align: center;
	}
	#section_head1 > div:nth-child(2) > div:nth-child(2) > div > input::placeholder{
		color : black;
	}
	#section_head1 > div:nth-child(2) > div:nth-child(2) > div > div {
		width: 181.31px;
		height: 60px;
		float: right;
	}
	#section_head1 > div:nth-child(2) > div:nth-child(2) > div > div > button {
		width: 177.31px;
		height: 52px;
		color: #FFFFFF;
		background: #000000;
		border: none;
		border-radius :48px;
		margin: 4px 4px 4px 0px;
		padding: 12px 20px;
		text-align: center;
		font-size: 16px;
		font-weight: 700;
		cursor : pointer;
	}
	#section_head1 > div:nth-child(2) > p{
		width: 576px;
		height: 40px;
		margin: 24px 672px 0px;
		padding: 0px 8px;
		color: black;
		font-size: 14px;
		text-align: center;
		font-weight: 500;
	}
	#section_head2{
		width: 1920px;
		height: 664px;
		margin: -1px 0 px;
		padding: 0px 0px 64px;
	}
	#section_head2 > div:nth-child(1){
		width: 1920px;
		height: 346px;
	}
	#section_head2 > div:nth-child(1) > img{
		width: 464px;
		height: 346px;
		margin: 0px 728px;
	}
	#section_head2 > div:nth-child(2) {
		width: 1920px;
		height: 190px;
		margin-top: 64px;
	}
	#section_head2 > div:nth-child(2) > div{
		width: 1420px;
		height: 190px;
		margin : 0px 250px;
	}
	#section_head2 > div:nth-child(2) > div > div:nth-child(1){
		width: 457.33px;
		height: 190px;
		margin-right: 24px;
		float: left;
	}
	#section_head2 > div:nth-child(2) > div > div:nth-child(1) > div{
		width: 100%;
		height: 66px;
		margin-bottom: 24px;
	}
	#section_head2 > div:nth-child(2) > div > div:nth-child(1) > h2{
		width: 100%;
		height: 32px;
		margin: 0;
		font-feature-settings: normal;
		font-size: 24px;
		font-variation-settings: normal;
		font-weight: 700;
		letter-spacing: -0.48px;
		line-height: 32px;
	}
	#section_head2 > div:nth-child(2) > div > div:nth-child(1) > p{
		width: 100%;
		height: 68px;
		padding: 16px 0 0 0;
		margin: 0;
		font-feature-settings: normal;
		font-size: 18px;
		font-variation-settings: normal;
		letter-spacing: normal;
		line-height: 26px;
	}
	#section_head2 > div:nth-child(2) > div > div:nth-child(2){
		width: 457.33px;
		height: 190px;
		margin-right: 24px;
		float: left;
	}
	#section_head2 > div:nth-child(2) > div > div:nth-child(2) > div{
		width: 100%;
		height: 66px;
		margin-bottom: 24px;
	}
	#section_head2 > div:nth-child(2) > div > div:nth-child(2) > h2{
		width: 100%;
		height: 32px;
		margin: 0;
		font-feature-settings: normal;
		font-size: 24px;
		font-variation-settings: normal;
		font-weight: 700;
		letter-spacing: -0.48px;
		line-height: 32px;
	}
	#section_head2 > div:nth-child(2) > div > div:nth-child(2) > p{
		width: 100%;
		height: 68px;
		padding: 16px 0 0 0;
		margin: 0;
		font-feature-settings: normal;
		font-size: 18px;
		font-variation-settings: normal;
		letter-spacing: normal;
		line-height: 26px;
	}
	#section_head2 > div:nth-child(2) > div > div:nth-child(3){
		width: 457.33px;
		height: 190px;
		float: left;
	}
	#section_head2 > div:nth-child(2) > div > div:nth-child(3) > div{
		width: 100%;
		height: 66px;
		margin-bottom: 24px;
	}
	#section_head2 > div:nth-child(2) > div > div:nth-child(3) > h2{
		width: 100%;
		height: 32px;
		margin: 0;
		font-feature-settings: normal;
		font-size: 24px;
		font-variation-settings: normal;
		font-weight: 700;
		letter-spacing: -0.48px;
		line-height: 32px;
	}
	#section_head2 > div:nth-child(2) > div > div:nth-child(3) > p{
		width: 100%;
		height: 68px;
		padding: 16px 0 0 0;
		margin: 0;
		font-feature-settings: normal;
		font-size: 18px;
		font-variation-settings: normal;
		letter-spacing: normal;
		line-height: 26px;
	}
	#div_logo{
		width: 1420px;
		height: 287.63px;
		margin: 0px 250px;
		padding: 32px 0px;
		border-top: 1px solid rgb(193, 204, 199);
		border-bottom: 1px solid rgb(193, 204, 199);
	}
	#div_logo > div:nth-child(1){
		width: 1140px;
		height: 90.63px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 43px;
	}
	#div_logo > div:nth-child(1) > div:nth-child(1){
		width: 210px;
		height: 100%;
		float: left;
		margin-right: 22.5px;
	}
	#div_logo > div:nth-child(1) > div:nth-child(1) > img{
		width: 100%;
	}
	#div_logo > div:nth-child(1) > div:nth-child(2){
		width: 210px;
		height: 100%;
		float: left;
		margin-right: 22.5px;
	}
	#div_logo > div:nth-child(1) > div:nth-child(3){
		width: 210px;
		height: 100%;
		float: left;
		margin-right: 22.5px;
	}
	#div_logo > div:nth-child(1) > div:nth-child(4){
		width: 210px;
		height: 100%;
		float: left;
		margin-right: 22.5px;
	}
	#div_logo > div:nth-child(1) > div:nth-child(5){
		width: 210px;
		height: 100%;
		float: left;
	}
	#div_logo > div:nth-child(2) {
		width: 1140px;
		height: 90.63px;
		margin-left: auto;
		margin-right: auto;
	}
	#div_logo > div:nth-child(2) > div:nth-child(1){
		width: 210px;
		height: 100%;
		float: left;
		margin-right: 22.5px;
	}
	#div_logo > div:nth-child(2) > div:nth-child(2){
		width: 210px;
		height: 100%;
		float: left;
		margin-right: 22.5px;
	}
	#div_logo > div:nth-child(2) > div:nth-child(3){
		width: 210px;
		height: 100%;
		float: left;
		margin-right: 22.5px;
	}
	#div_logo > div:nth-child(2) > div:nth-child(4){
		width: 210px;
		height: 100%;
		float: left;
		margin-right: 22.5px;
	}
	#div_logo > div:nth-child(2) > div:nth-child(5){
		width: 210px;
		height: 100%;
		float: left;
	}
	#section_center1{
		width: 1920px;
		height: 408px;
		margin: -1px 0px;
		padding: 64px 0px 128px;
	}
	#section_center1 > div:nth-child(1){
		width: 1420px;
		height: 216px;
		margin: 0 auto;
	}
	#section_center1 > div:nth-child(1) > h2{
		width: 938.672px;
		height: 168px;
		margin: 0 auto;
		font-feature-settings: normal;
		font-size: 48px;
		font-variation-settings: normal;
		font-weight: 700;
		letter-spacing: -0.96px;
		line-height: 56px;
		text-align : center;
	}
	#section_center1 > div:nth-child(1) > p{
		width: 938.672px;
		height: 48px;
		padding : 16px 0 0;
		margin: 0 auto;
		font-feature-settings: normal;
		font-size: 22px;
		font-variation-settings: normal;
		letter-spacing: -0.44px;
		line-height: 32px;
		text-align : center;
	}
	#section_center2{
		width: 1920px;
		height: 580px;
		margin: -1px 0px;
		padding: 128px 0px 112px;
		background: #054a49 radial-gradient(circle at -48% 130%, #d0f224aa 24%, #054a49 45%);
	}
	#section_center2 > div {
		width: 1420px;
		height: 160px;
		margin: 0 auto;
	}
	#section_center2 > div > h2 {
		width: 938.67px;
		height: 112px;
		margin: 0 auto;
		font-feature-settings: normal;
		font-size: 48px;
		font-variation-settings: normal;
		font-weight: 700;
		text-align : center;
		letter-spacing: -0.96px;
		line-height: 56px;
		color: #FFFFFF;
	}
	#section_center2 > div > p {
		width: 938.67px;
		height: 48px;
		margin: 0 auto;
		padding: 16px 0 0;
		font-size: 22px;
		font-variation-settings: normal;
		letter-spacing: -0.44px;
		line-height: 32px;
		text-align : center;
		color: #FFFFFF;
	}
	#section_center2 > div:nth-child(2){
		width: 100%;
		height: 116px;
		margin-top : 64px;
	}
	#section_center2 > div:nth-child(2) > div:nth-child(1){
		width: 416px;
		height: 60px;
		margin: 0 auto 24px auto;
		background-color: #ffffff;
		color: black;
		border: 1px solid rgb(229, 231, 235);
    	border-radius : 48px;
	}
	#section_center2 > div:nth-child(2) > div:nth-child(1) > input{
		width: 226.69px;
		height: 56px;
		font-size: 100%;
		float: left;
		border: none;
		outline: none;
		color: black;
		background-color:transparent;
		/*padding: 24px 16px 8px;*/
		text-align: center;
	}
	#section_center2 > div:nth-child(2) > div:nth-child(1) > input::placeholder{
		color : black;
	}
	#section_center2 > div:nth-child(2) > div:nth-child(1) > div {
		width: 181.31px;
		height: 60px;
		float: right;
	}
	#section_center2 > div:nth-child(2) > div:nth-child(1) > div > button {
		width: 177.31px;
		height: 52px;
		color: #FFFFFF;
		background: #000000;
		border: none;
		border-radius :48px;
		margin: 4px 4px 4px 0px;
		padding: 12px 20px;
		text-align: center;
		font-size: 16px;
		font-weight: 700;
		cursor : pointer;
	}
	#section_center2 > div:nth-child(2) > div:nth-child(2){
		width: 1920px;
		height: 44px;
		padding: 0 24px;
	}
	#section_center2 > div:nth-child(2) > div:nth-child(2) > span{
		width: 439.39px;
		height: 23px;
		margin: 0 auto;
		padding: 2px 4px;
		font-feature-settings: normal;
		font-size: 14px;
		font-variation-settings: normal;
		letter-spacing: 0.28px;
		line-height: 16px;
		background-color: rgba(207, 161, 252, 0.2);
		color: #FFFFFF;
		text-align: center;
		display: flex;
  		justify-content: center;
  		align-items: center;
	}
	#section_center2 > div:nth-child(2) > div:nth-child(2) > p{
		width: 1872px;
		height: 20px;
		padding: 2px 4px;
		margin: 0 auto;
		color: #FFFFFF;
		font-feature-settings: normal;
		font-size: 14px;
		font-variation-settings: normal;
		letter-spacing: 0.28px;
		line-height: 16px;
		text-align: center;
	}
	#section_faq{
		width: 1920px;
		height: 788px;
		margin: -1px 0px;
		padding: 128px 0px 64px;
		background-color: #F1FFF9;
	}
	#section_faq > div:nth-child(1){
		width: 1420px;
		height: 56px;
		margin: 0 auto 64px auto;
	}
	#section_faq > div:nth-child(1) > h2{
		width: 938.66px;
		height: 100%;
		float: left;
		margin: 0;
		font-feature-settings: normal;
		font-size: 48px;
		font-variation-settings: normal;
		font-weight: 700;
		letter-spacing: -0.96px;
		line-height: 56px;
	}
	#section_faq > div:nth-child(2){
		width: 1420px;
		height: 476px;
		margin: 0 auto;
	}
	#section_faq > div:nth-child(2) > div{
		width: 938.66px;
		height: 100%;
		margin: 0 120.335px 0 361.005px;
	}
	#section_faq > div:nth-child(2) > div > div:nth-child(1){
		width: 100%;
		height: 89px;
		padding: 0 0 40px;
		margin-bottom: 40px;
		border-bottom: 1px solid rgb(193, 204, 199);
	}
	#section_faq > div:nth-child(2) > div > div:nth-child(1) > button{
		width: 100%;
		height: 48px;
		padding: 0;
		background-color: transparent;
		border: none;
	}
	#section_faq > div:nth-child(2) > div > div:nth-child(1) > button > p{
		width: 423.31px;
		height: 32px;
		margin: 0 0 16px;
		float: left;
		line-height: 32px;
		font-weight: 700;
		font-size: 24px;
		font-stretch: 100%;
		letter-spacing: -0.48px;
	}
	#section_faq > div:nth-child(2) > div > div:nth-child(1) > button > div{
		width: 44px;
		height: 44px;
		float: right;
		margin: 2px 0;
		border-radius: 9999px;
		background: black;
	}
	#section_faq > div:nth-child(2) > div > div:nth-child(2){
		width: 100%;
		height: 89px;
		padding: 0 0 40px;
		margin-bottom: 40px;
		border-bottom: 1px solid rgb(193, 204, 199);
	}
	#section_faq > div:nth-child(2) > div > div:nth-child(2) > button{
		width: 100%;
		height: 48px;
		padding: 0;
		background-color: transparent;
		border: none;
	}
	#section_faq > div:nth-child(2) > div > div:nth-child(2) > button > p{
		width: 300px;
		height: 32px;
		margin: 0 0 16px;
		float: left;
		line-height: 32px;
		font-weight: 700;
		font-size: 24px;
		font-stretch: 100%;
		letter-spacing: -0.48px;
	}
	#section_faq > div:nth-child(2) > div > div:nth-child(2) > button > div{
		width: 44px;
		height: 44px;
		float: right;
		margin: 2px 0;
		border-radius: 9999px;
		background: black;
	}
	#section_faq > div:nth-child(2) > div > div:nth-child(3){
		width: 100%;
		height: 89px;
		padding: 0 0 40px;
		margin-bottom: 40px;
		border-bottom: 1px solid rgb(193, 204, 199);
	}
	#section_faq > div:nth-child(2) > div > div:nth-child(3) > button{
		width: 100%;
		height: 48px;
		padding: 0;
		background-color: transparent;
		border: none;
	}
	#section_faq > div:nth-child(2) > div > div:nth-child(3) > button > p{
		width: 560.03px;
		height: 32px;
		margin: 0 0 16px;
		float: left;
		line-height: 32px;
		font-weight: 700;
		font-size: 24px;
		font-stretch: 100%;
		letter-spacing: -0.48px;
	}
	#section_faq > div:nth-child(2) > div > div:nth-child(3) > button > div{
		width: 44px;
		height: 44px;
		float: right;
		margin: 2px 0;
		border-radius: 9999px;
		background: black;
	}
	#section_faq > div:nth-child(2) > div > div:nth-child(4){
		width: 100%;
		height: 89px;
		padding: 0 0 40px;
		border-bottom: 1px solid rgb(193, 204, 199);
	}
	#section_faq > div:nth-child(2) > div > div:nth-child(4) > button{
		width: 100%;
		height: 48px;
		padding: 0;
		background-color: transparent;
		border: none;
	}
	#section_faq > div:nth-child(2) > div > div:nth-child(4) > button > p{
		width: 654.11px;
		height: 32px;
		margin: 0 0 16px;
		float: left;
		line-height: 32px;
		font-weight: 700;
		font-size: 24px;
		font-stretch: 100%;
		letter-spacing: -0.48px;
	}
	#section_faq > div:nth-child(2) > div > div:nth-child(4) > button > div{
		width: 44px;
		height: 44px;
		float: right;
		margin: 2px 0;
		border-radius: 9999px;
		background: black;
	}
	#footer{
		width: 1920px;
		height: 184px;
		padding: 0px 0px 160px;
		background-color: #F1FFF9;
	}
	#footer > div{
		width: 610px;
		height: 24px;
		margin: 0 250px 0 1060px;
	}
	#footer > div > span:nth-child(1){
		width: 81.55px;
		height: 21px;
		margin-left: 105px;
		font-feature-settings: normal;
		font-size: 16px;
		font-variation-settings: normal;
		font-weight: 700;
		letter-spacing: -0.32px;
		line-height: 24px;
		text-decoration-line: underline;
	}
	#footer > div > span:nth-child(2){
		width: 125.45px;
		height: 21px;
		margin-left: 105px;
		font-feature-settings: normal;
		font-size: 16px;
		font-variation-settings: normal;
		font-weight: 700;
		letter-spacing: -0.32px;
		line-height: 24px;
		text-decoration-line: underline;
	}
	#footer > div > span:nth-child(3){
		width: 65.86px;
		height: 21px;
		margin-left: 105px;
		font-feature-settings: normal;
		font-size: 16px;
		font-variation-settings: normal;
		font-weight: 700;
		letter-spacing: -0.32px;
		line-height: 24px;
		text-decoration-line: underline;
	}