@charset "UTF-8";
* { box-sizing: border-box; }
.border {
	border: 1px solid red;
}
body {
	height: 100vh;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#div_main_screen {
	width: 500px;
	height: 700px;
	border-width: 1px;
	border: 1px solid #ddd;
}
#div_header1 {
	width: 500px;
	height: 70px;
	margin-left: -1px;
	margin-top: -1px;
	font-size: 23px;
	font-weight: bold;
}
#div_QA_product_inquiry_box {
	width: 100px;
	float: left;
}
#div_QA_write_back_button_box {
	width: 30px;
	float: right;
	cursor: pointer;
}
#div_QA_write_back_button_cover_box {
	width: 30px;
	height: 28px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	border: 1px solid #ddd;
	cursor: pointer;
}
#div_QA_write_back_button {
	width: 20px;
	height: 20px;
	cursor: pointer;
}
#div_content1 {
	width: 500px;
	height: 140px;
	margin-left: -1px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}
#div_product_img {
	margin-left: 10px;
}
#div_product_text1 {
	font-size: 13.5px;
	font-weight: bold;
	margin-top: 28px;
}
#div_product_text2 {
	font-size: 20px;
	font-weight: bold;
	margin-top: 8px;
}
#div_product_text3 {
	font-size: 13.5px;
	font-weight: bold;
	margin-top: 1px;
}
#div_product_box1 {
	width: 430px;
	height: 140px;
}
#div_product_small_box1 {
	width: 430px;
	height: 20px;
}
#div_product_small_box2 {
	width: 430px;
	height: 40px;
}
#div_product_small_box3 {
	width: 430px;
	height: 20px;
}
#div_content2 {
	width: 500px;
	height: 70px;
	margin-left: -1px;
}
#div_문의유형_box1 {
	width: 500px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	font-weight: bold;
	margin-left: -5px;
}
#div_문의유형 {
	margin-left: 30px;
}
#div_문의유형_box2 {
	width: 500px;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 14px;
	color: black;
	opacity: 0.5;
}
#div_content3 {
	width: 500px;
	height: 50px;
	margin-left: -1px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}
#div_title1 {
	width: 40px;
	height: 30px;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	display: flex;
	align-items: center;
}
#div_input_box1 {
	width: 300px;
	height: 28px;
	border-width: 1px;
	border-color: #ddd;
}
#div_secret_box {
	display: flex;
	align-items: flex-end;
}
#div_check_box1 {
	float: left;
	font-size: 15px;
	font-weight: bold;
	border-radius: 50%;
}
#div_content4 {
	width: 500px;
	height: 300px;
	margin-left: -1px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
#div_내용 {
	width: 40px;
	height: 30px;
	font-size: 15px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
#div_내용_box1 {
	width: 400px;
	height: 200px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
#div_내용_box2 {
	width: 400px;
	height: 200px;
	border-color: #ddd;
	border-width: 1px;
}
#div_content5 {
	width: 500px;
	height: 70px;
	margin-left: -1px;
}
#div_플러스_button {
	width: 70px;
	height: 69px;
	margin-left: 83px;
	margin-top: -3px;
	background-color: white;
	border-color: #ddd;
	border-width: 1px;
}