@charset "UTF-8";
* { box-sizing: border-box; }
body {
	margin: 0 auto;
	overflow-y: auto;
	overflow-x: hidden;
}
#border {
	border: 1px solid red;
}
.main_screen {
	width: 100%;
	height: 100%;
	display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

/* 작성란 창 생성 시작 */

.ins_main_screen {
	width: 100%;
	height: 100%;
	position: fixed;
    inset: 0;
    z-index: 202;
    display: none;
	justify-content: center;
    align-items: center;
    overflow: hidden scroll;
    background-color: rgba(0, 0, 0, 0.56);
}
.insert_comment {
	width: 640px;
	height: 492px;
	background-color: white;
	display: flex;
	justify-content: center;
	flex-direction: column;
    align-items: center;
    border-radius: 16px;
}
.insert_header_box {
	width: 600px;
	height: 33px;
	margin-bottom: 15px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.insert_title_box {
	width: 570px;
	height: 24px;
	font-size: 16.5px;
	font-weight: bold;
}
.insert_out {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: none;
	cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.insert_content_box {
	width: 600px;
	height: 410px;
	position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.insert_box {
	width: 100%;
	min-height: 360px;
	margin: 1px 0 44px;
	overflow: auto;
	outline: none;
	border: 0;
    position: absolute;
}
.down_box {
	width: 640px;
	height: 44px;
	position: absolute;
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
    align-items: center;
    justify-content: flex-end;
}
.korean_count {
	width: 166.42px;
	height: 44px;
	color: #7e7e7e;
	display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}
.save_button {
	width: 109.41px;
	height: 38px;
	margin-left: 12px;
	border-radius: 7px;
	border: none;
	background-color: #ff2f6e;
	color: white;
	cursor: pointer;
}

/* 작성란 창 생성 여기까지 */

/* 헤더 */
#head {
	position: fixed;
    top: 0px;
    background-color: #fff;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.08);
    height: 62px;
    transition: background-color 200ms;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 201;
}

#head > nav {
	width: 100%;
	height: 100%;
}

.headmargin {
	position: relative;
	max-width: 1320px;
	margin-right: auto;
   	margin-left: auto;
   	height: 100%;
}

.headul {
	display: flex;
    align-items: center;
    padding: 0;
    padding-inline-start: 0;
    margin: 0;
    margin-block: 0 0;
    margin-inline: 0;
    list-style-type: none;
    width: 100%;
	height: 100%;
}


.headsearchsetting {
    width: 300px;
    flex-shrink: 1;
    margin: 0 0 0 auto;
    transition: all 0.5s;
    height: 62px;
    position: relative;
    display: flex;
	align-items: center;
}

.headsetting {
	position: relative;
    display: flex;
	align-items: center;
	height: 62px;
	flex-shrink: 0;
	margin: 0 0 0 10px;
	width: 63px;
}

.headsearchsetting input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input:focus {
	outline: none;
}

.headsetting {
    margin-left: 10px;
}

.headsetting button {
    padding: 0 0;
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 200ms;
    font-size: 13px;
	font-stretch: 100%;
}
.headsetting button:hover {
    pointer-events: none;
}
.logo {
	width: 151px;
	height: 28.83px;
}
.main_content {
	width: 100%;
	height: 1069.39px;
	display: flex;
    flex-direction: column;
    align-items: center;
}
.main_photo {
	width: 100%;
	height: 550px;
	position: relative;
}
.photo_size {
	width: 100%;
	height: 550px;
	object-fit: cover;
	position: absolute;
}
.header_box {
	width: 100%;
	height: 550px;
	position: absolute;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header {
	width: 100%;
	height: 120px;
}
.header2 {
	width: 100%;
	height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.desc_box {
	width: 1320px;
	height: 172px;
}
.movie_info {
	width: 332px;
	height: 172px;
}
.movie_title {
	font-size: 36px;
	font-weight: 700;
	letter-spacing: 0;
	color: #fff;
    font-family: Pretendard, "Apple SD Gothic Neo", "Nanum Gothic", "Malgun Gothic", sans-serif;
}
.movie_eng_title {
	margin-top: 16px;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0;
	color: #fff;
}
.movie_genre {
	margin-top: 8px;
	font-size: 14px;
	letter-spacing: 0;
	color: #fff;
}
.movie_time {
	margin-top: 8px;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0;
	color: #fff;
}
.movie_rank {
	margin-top: 16px;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0;
	color: #fff;
}
.detail_box {
	width: 100%;
	height: 519.39px;
	padding: 30px 0 60px;
	background-color: #fafafa;
	display: flex;
	justify-content: center;
}
.detail_info_box {
	width: 1320px;
	height: 429.39px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.detail_poster_box {
	width: 280px;
	height: 429.39px;
}
.detail_poster {
	width: 278px;
	height: 427.39px;
}
.detail_info {
	width: 1008px;
	height: 429.39px;
	margin-left: 32px;
	display: flex;
    flex-direction: column;
    align-items: center;
}
.detail_evaluation {
	width: 1008px;
	height: 101px;
	padding-bottom: 20px;
	display: flex;
	border-bottom: 1px solid #7e7e7e;
}
.detail_star {
	width: 341px;
	height: 72px;
}
.detail_star_select {
	width: 220px;
	height: 44px;
	display: flex;
    justify-content: center;
    align-items: center;
}
.star_img {
	font-size: 40px;
    color: #eee; /* 기본 회색 */
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    margin: 0 2px; /* 별 사이의 간격 */
}
.star_img:hover {
	color: #FF7F27;
}
.detail_star_text {
	width: 335px;
	height: 18px;
	margin: 10px 0 0 6px;
    text-align: left;
    color: #7e7e7e;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}
.detail_score_box {
	width: 341px;
	height: 69px;
	display: flex;
    align-items: center;
}
.detail_score_number {
	width: 88.25px;
	height: 44px;
	margin: 0 0 7px;
	font-size: 36px;
    font-weight: var(--font-weight-bold);
    line-height: 44px;
    letter-spacing: 0;
    color: #7e7e7e;
    display: flex;
    align-items: center;
    justify-content: center;
}
.detail_score_number_box {
	width: 88.25px;
	height: 69px;
	display: flex;
    flex-direction: column;
    align-items: center;
}
.detail_score_number_text {
	width: 88.25px;
	height: 18px;
	color: #7e7e7e;
    font-size: 10px;
    font-weight: var(--font-weight-regular);
    line-height: 18px;
    letter-spacing: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.detail_comment_box {
	width: 326px;
	height: 69px;
	display: flex;
    justify-content: flex-end;
}
.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    font-family: Arial, sans-serif;
}
.dots {
    display: flex;
    justify-content: center;
    margin-bottom: 5px; /* 텍스트와의 간격 조정 */
}
.dot {
    width: 10px; /* 점 크기 */
    height: 10px; /* 점 크기 */
    background-color: #7e7e7e; /* 점 색상 */
    border-radius: 50%; /* 원 모양 */
    margin: 0 5px; /* 점 사이의 간격 */
}
.dot:hover {
	color: black;
}
.text {
	font-size: 12px;
	color: #7e7e7e;
	cursor: pointer;
}
.button_text {
	display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color: #7e7e7e;
    width: 65px;
    height: 110px;
    cursor: pointer;
}
.button_text svg {
    width: 40px;
    height: 40px;
    fill: #7e7e7e;
}
.button_text svg:hover {
    fill: black;
}
.text:hover {
    color: black;
}
.detail_post {
	width: 1008px;
	height: 150px;
	margin: 20px 0 30px;
	font-size: 11.8px;
    font-weight: var(--font-weight-regular);
    line-height: 20px;
    letter-spacing: 0;
    color: #7e7e7e;
} 
.main_content2 {
	width: 100%;
	height: 1555.98px;
	display: flex;
    flex-direction: column;
    align-items: center;
}
.appear {
	width: 1320px;
	height: 298px;
	margin-top: 60px;
}
.apper_title {
	width: 1320px;
	height: 30px;
	margin-bottom: 20px;
	font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: 0;
}
.appear_info_box {
	width: 1320px;
	height: 248px;
	display: flex;
    align-items: center;
    justify-content: center;
}
.appear_info {
	width: 1320px;
	height: 228px;
	display: flex;
    justify-content: center;
    align-items: center;
}
.actor_info_box {
	width: 330px;
	height: 76px;
	padding-right: 15px;
	display: flex;
    align-items: center;
    justify-content: flex-start;
}
.actor_name_box {
	width: 315px;
	height: 76px;
	display: flex;
	align-items: center;
	cursor: pointer;
}
.actor_img {
	width: 68px;
	height: 56px;
}
.actor_photo {
	width: 56px;
	height: 56px;
	border-radius: 5px;
}
.actor_desc {
	width: 247px;
	height: 76px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #ededed;
}
.actor_name_desc {
	width: 237px;
	height: 22px;
	font-size: 16px;
	font-family: Pretendard, "Apple SD Gothic Neo", "Nanum Gothic",
    "Malgun Gothic", sans-serif;
}
.actor_role {
	width: 237px;
	height: 20px;
	margin-top: 4px;
	font-size: 14px;
	color: #8C8C8C;
}
.comment {
	width: 1320px;
	height: 654px;
	margin-top: 60px;
	display: flex;
    flex-direction: column;
    align-items: center;
}
.comment_text {
	width: 1320px;
	height: 44px;
	margin-bottom: 20px;
	display: flex;
    justify-content: center;
    align-items: center;
}
.comment_font {
	width: 75.33px;
	height: 30px;
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
}
.require_font {
	width: 45.47px;
	height: 20px;
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	margin-left: 8px;
	color: #ff2f6e;
}
.more_box {
	width: 1212.3px;
	height: 44px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.real_more {
	width: 44.31px;
	height: 20px;
	font-size: 14px;
	color: #ff2f6e;
	cursor: pointer;
}
.comment_list_box {
	width: 1320px;
	height: 590px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.comment_list {
	width: 324px;
	height: 291px;
	list-style: none;
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 6px;
}
.list_comment_box {
	width: 300px;
	height: 55px;
	border-bottom: 1px solid #e0e0e0;
	display: flex;
}
.list_comment {
	width: 227.16px;
	height: 54px;
	font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}
.list_comment_img_box {
	width: 32px;
	height: 32px;
    margin: 11px 8px 11px 0;
    border-radius: 50%;
}
.user_img {
	width: 32px;
	height: 32px;
	border-radius: 50%;
}
.star_cur {
	width: 73px;
	height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.star_cur_box {
	width: 48px;
	height: 26px;
	border-radius: 13px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.list_review_box {
	width: 300px;
	height: 120px;
	margin-top: 12px;
	margin-bottom: 15px;
	font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    line-height: 23px;
    color: #5e5e64;
    cursor: pointer;
}
.like_count {
	width: 300px;
	height: 44px;
	border-bottom: 1px solid #e0e0e0;
	border-top: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
}
.count_box {
	width: 100px;
	height: 43.59px;
	display: flex;
    justify-content: space-between;
    align-items: center;
}
.like_button {
	width: 65px;
	height: 45px;
	border: none;
	background: none;
	cursor: pointer;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	color: #ff2f6e;
}
.like_post {
	width: 308px;
	height: 45px;
}
.media {
	width: 1320px;
	height: 401.98px;
	margin-top: 60px;
}
.media_title_header {
	width: 1320px;
	height: 30px;
	margin-bottom: 20px;
	display: flex;
    align-items: center;
    justify-content: flex-start;
}
.media_header {
	width: 74px;
	height: 30px;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0;
}
.media_img_box {
	width: 1320px;
	height: 351.98px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.media_img_list {
	width: 433.33px;
	height: 317.98px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.media_img {
	width: 433.33px;
	height: 289.98px;
	object-fit: cover;
	cursor: pointer;
}
.media_img_size {
	width: 431.33px;
	height: 287.98px;
}
.media_img_text {
	width: 433.33px;
	height: 20px;
	margin-top: 8px;
	cursor: pointer;
	display: flex;
    align-items: center;
}


/* footer 부분 */
.footer {
	width: 100%;
	height: 257px;
}
.real_time_box {
	width: 100%;
	height: 62px;
	background-color: #101113;
	display: flex;
    justify-content: center;
    align-items: center;
}
.real_time_text {
	width: 100%;
	height: 24px;
	color: #d4d4d4;
	font-weight: 500;
	font-size: 19px;
	line-height: 24px;
	display: flex;
    justify-content: center;
}
.real_time_count {
	color: #ff2f6e;
}
.preference_desc {
	width: 1320px;
	height: 137px;
}
.preference {
	width: 100%;
	height: 195px;
	background-color: #1c1d1f;
	padding: 20px 0 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service {
	font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0;
    color: #a5a5a7;
}
.center {
	margin-top: 12px;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0;
	color: #a5a5a7;
}
.cooperation {
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0;
	color: #a5a5a7;
}
.address {
	margin-top: 13px;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0;
	color: #848485;
}
.number {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0;
	color: #848485;
}
.watcha {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0;
    color: #848485;
}