@charset "UTF-8";
* { box-sizing: border-box; }
body {
	margin: 0 auto;
}
#border {
	border: 1px solid red;
}
.more_main_screen {
	width: 100%;
	height: 100%;
}
/* 헤더 */
#head {
	position: fixed;
    top: 0px;
    background-color: #fff;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.08);
    height: 62px;
    transition: background-color 200ms;
    left: 0;
    width: 100%;
    text-align: center;
}

#head > nav {
	width: 100%;
	height: 100%;
}

.headmargin {
	position: relative;
	max-width: 1320px;
	margin-right: auto;
   	margin-left: auto;
   	height: 100%;
}

.headul {
	display: flex;
    align-items: center;
    padding: 0;
    padding-inline-start: 0;
    margin: 0;
    margin-block: 0 0;
    margin-inline: 0;
    list-style-type: none;
    width: 100%;
	height: 100%;
}


.headsearchsetting {
    width: 300px;
    flex-shrink: 1;
    margin: 0 0 0 auto;
    transition: all 0.5s;
    height: 62px;
    position: relative;
    display: flex;
	align-items: center;
}

.headsetting {
	position: relative;
    display: flex;
	align-items: center;
	height: 62px;
	flex-shrink: 0;
	margin: 0 0 0 10px;
	width: 63px;
}

.headsearchsetting input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input:focus {
	outline: none;
}

.headsetting {
    margin-left: 10px;
}

.headsetting button {
    padding: 0 0;
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 200ms;
    font-size: 13px;
	font-stretch: 100%;
}

.headsetting button:hover {
    pointer-events: none;
}



.more_content {
	width: 100%;
	height: 100%;
	padding-top: 62px;
}
.more_header {
	width: 100%;
	height: 85px;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	padding-left: 16px;
	padding-right: 16px;
	border-bottom: #ededed;
	border-top: #ededed;
}
.more_header_direction {
	width: 1871px;
	height: 44px;
	display: flex;
    align-items: center;
    justify-content: flex-start;
}
.direction_box {
	width: 24px;
	height: 44px;
	display: flex;
    align-items: center;
}
.arrow {
	transform: scaleX(-1);
	fill: #ff2f6e;
	cursor: pointer;
}
.more_comment_box {
	width: 1871px;
	height: 30px;
}
.more_like_box {
	width: 100%;
	height: 48px;
	cursor: pointer;
}
.more_like_small_box {
	width: 100%;
	height: 48px;
	display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #fbfbfb;
}
.more_like {
	width: 92.17px;
	height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
}
.more_like_select_box {
	width: 130.17px;
	height: 25px;
	display: flex;
    align-items: center;
    justify-content: flex-start;
}
.more_middle_header {
	width: 100%;
	height: 100%;
	display: flex;
    align-items: center;
    justify-content: center;
}
.more_middle_header2 {
	width: 1863px;
	height: auto;
	display: flex;
    align-items: center;
    justify-content: center;
}
.more_middle_content {
	width: 640px;
	height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
	overflow: hidden;
	padding-top: 20px;
}
.more_dupl_div {
	width: 640px;
	height: auto;
	margin-bottom: 20px;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F5;
    border-radius: 6px;
    padding-left: 12px;
    padding-right: 12px;
}
.more_dupl_top {
	width: 616px;
	height: 55px;
	display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0e0;
}
.more_dupl_nick_box {
	width: 543.47px;
	height: 54px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}
.more_profile_img {
	width: 32px;
	height: 32px;
	margin: 11px 8px 11px 0;
	border-radius: 50%;
}
.more_user_nick {
	width: auto;
	height: 22px;
	margin-bottom: 2px;
}
.more_dupl_star {
	width: 56.53px;
	height: 26px;
	margin: 15px 0 0 16px;
    border-radius: 13px;
    border: 1px solid #ededed;
    background-color: #fff;
    padding: 0 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.more_star_img {
	width: 16px;
	height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.more_star_number {
	width: 20px;
	height: 20px;
	color: #5e5e64;
	font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.more_dupl_content {
	width: 100%;
	height: auto;
    margin: 12px 0 15px;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    color: #5e5e64;
    cursor: pointer;
}
.more_dupl_down {
	width: 616px;
	height: auto;
	padding-top: 11px;
	padding-bottom: 11px;
	color: #5e5e64;
	border-top: 1px solid #e0e0e0;
	font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
}
.more_like_button {
	width: 616px;
	height: auto;
	padding: 9.5px 0;
	border-top: 1px solid #e0e0e0;
    color: #ff2f6e;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0;
}


/* 좋아요 순 클릭 시 뜨는 창 */


.arr_main_screen {
	width: 100%;
	height: 100%;
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.56);
    display: none;
    justify-content: center;
    align-items: center;
}
.arr_box {
	width: 375px;
	height: 157px;
	background-color: #fff;
	overflow: scroll;
	border-radius: 6px;
	display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.arr_title {
	width: 358px;
	height: 44px;
	padding-left: 16px;
	padding-right: 16px;
	display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    flex-direction: row-reverse;
    border: 1px solid #ededed;
}
.arr_text {
	width: 100%;
	height: 44px;
	position: relative;
	display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0;
}
.arr_button {
	width: 24px;
	height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #ff2f6e;
    cursor: pointer;
}
.arr_type_box {
	width: 318px;
	height: 240px;
	display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.arr_type {
	width: 318px;
	height: 48px;
	display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #eae9e8;
}
.arr_type_text {
	width: 318px;
	height: 22px;
	display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0;
}
.arr_arrow {
	width: 24px;
	height: 24px;
	fill: #ff2f6e;
}


/* 좋아요 순 클릭 시 뜨는 창 끝 */

/* footer */
.footer {
	width: 100%;
	height: 257px;
}
.real_time_box {
	width: 100%;
	height: 62px;
	background-color: #101113;
	display: flex;
    justify-content: center;
    align-items: center;
}
.real_time_text {
	width: 100%;
	height: 24px;
	color: #d4d4d4;
	font-weight: 500;
	font-size: 19px;
	line-height: 24px;
	display: flex;
    justify-content: center;
}
.real_time_count {
	color: #ff2f6e;
}
.preference_desc {
	width: 1320px;
	height: 137px;
}
.preference {
	width: 100%;
	height: 195px;
	background-color: #1c1d1f;
	padding: 20px 0 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service {
	font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0;
    color: #a5a5a7;
}
.center {
	margin-top: 12px;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0;
	color: #a5a5a7;
}
.cooperation {
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0;
	color: #a5a5a7;
}
.address {
	margin-top: 13px;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0;
	color: #848485;
}
.number {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0;
	color: #848485;
}
.watcha {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0;
    color: #848485;
}