@charset "UTF-8";
* { box-sizing: border-box; }
.border {
	border: 1px solid red;
}
body {
	height: 100vh;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#div_main_screen {
	width: 1000px;
	height: 500px;
	border: 1px solid #ddd;
}
#div_main_content1 {
	width: 150px;
	height: 500px;
	float: left;
	text-align: center;
	font-size: 13.5px;
	font-weight: bold;
	line-height: 500px;
	background-color: gainsboro;
}
#div_main_content2 {
	width: 700px;
	height: 500px;
	float: left;
	margin-left: -1px;
	font-size: 13.5px;
	background-color: gainsboro;
}
#div_middle_content1 {
	width: 700px;
	height: 50px;
	margin-top: 60px;
}
#div_coment1 {
	display: inline-block;
	margin-left: 5px;
	margin-top: 10px;
}
#div_main_content3 {
	width: 150px;
	height: 500px;
	float: right;
	margin-right: -1px;
	text-align: center;
	font-size: 13.5px;
	font-weight: bold;
	line-height: 500px;
	background-color: gainsboro;
}
#div_back_QA_button_box {
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 119px;
}
#div_back_QA_main_page {
	width: 25px;
	height: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	border-width: 1px;
	border-color: #ddd;
}
#div_back_QA_main_page_img {
	width: 17px;
	height: 19px;
	margin-left: 3px;
}