@charset "UTF-8";
*{ box-sizing: border-box; }
.border {
	border: 1px solid red;	
}
body {
	height: 100vh;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#div_ownership_box1 {
	width: 620px;
	height: 570px;
	border-radius: 20px;
}
#div_ownership_small_box1 {
	width: 620px;
	height: 53px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	background-color:  rgba(241, 241, 241, 1);
	border: 1px solid gainsboro;
}
#div_ownership_small_box2 {
	width: 620px;
	height: 456px;
	border: 1px solid gainsboro;
	margin-top: -1px;
}
#div_ownership_small_box3 {
	width: 620px;
	height: 61px;
	margin-top: -1px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border: 1px solid gainsboro;
}
#div_text_box1 {
	width: 552px;
	height: 20px;
	margin-top: 15px;
	padding-left: 15px;
	font-size: 15px;
	font-weight: bold;
}
#div_X_button {
	float: right;
	border: none;
	margin-top: -18px;
	margin-right: 16px;
	cursor: pointer;
}
#div_text_small_box1 {
	width: 588px;
	height: 36px;
	background-color: rgba(255, 241, 227, 1);
	border-radius: 10px;
	margin: 0 auto;
	margin-top: 18px;
}
#svg_box {
	width: 25px;
	height: 25px;
	float: left;
	margin-left: 5px;
	margin-top: 5px;
}
#div_text1 {
	float: right;
	font-size: 14px;
	margin-top: 8px;
	margin-right: 108px;
}
#div_text_box2 {
	width: 588px;
	height: 140px;
	margin: 0 auto;
	margin-top: 14px;
	font-size: 14px;
}
#li_text1 {
	width: 568px;
	height: 20px;
	margin-top: 20px;
	margin-left: 4px;
}
#li_text2 {
	width: 568px;
	height: 20px;
	margin-top: 9px;
	margin-left: 4px;
}
#li_text3 {
	width: 568px;
	height: 20px;
	margin-top: 9px;
	margin-left: 4px;
}
#div_text_box3 {
	width: 588px;
	height: 20px;
	font-size: 14px;
	font-weight: bold;
	margin-top: 18px;
}
#div_email_box1 {
	width: 588px;
	height: 56px;
}
#div_email_small_box1 {
	width: 588px;
	height: 20px;
	margin-top: 35px;
	margin-bottom: 4px;
}
#div_email_small_box2 {
	width: 588px;
	height: 32px;
	border-radius: 8px;
	border-width: 1px;
}
#div_name_title {
	width: 588px;
	height: 56px;
	font-size: 14px;
	margin-top: 50px;
}
#div_name_box {
	width: 588px;
	height: 32px;
	margin-top: 8px;
	border-radius: 8px;
	border-width: 1px;
}
#div_button_box1 {
	width: 588px;
	height: 28px;
	margin: 0 auto;
}
#div_button_small_box1 {
	width: 182.23px;
	height: 40px;
	float: right;
}
#div_revoke_box1 {
	width: 48px;
	height: 29px;
	border-radius: 8px;
	border-width: 0.5px;
	font-size: 14px;
	float: right;
	margin-right: 8px;
	margin-top: 15px;
	background-color: rgb(255, 255, 255, 1);
	border-color: rgba(204, 204, 204, 1);
	cursor: pointer;
}
#div_ownership_alter {
	width: 126.23px;
	height: 29px;
	border-radius: 8px;
	border-width: 0.5px;
	font-size: 12px;
	float: right;
	margin-top: 15px;
	background-color: rgba(26, 26, 26, 1);
	color: rgb(255, 255, 255, 1);
	font-weight: bold;
	cursor: pointer;
}