@charset "UTF-8";
* { box-sizing: border-box; }
.border {
	border: 1px solid red;
}
body {
	margin: 0;
	padding: 0;
}
#rv_main_screen {
	width: 100%;
	height: 100%;
}
#rv_header1 {
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#rv_header_inner {
	width: 99%;
	height: 60px;
	border-bottom: 3px solid black;
}
#rv_title {
	width: 100px;
	height: 30px;
	font-size: 23px;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
}
#rv_middle_screen_box {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}
#rv_middle_screen {
	width: 1200px;
	height: 100%;
}
#rv_middle_small_screen1 {
	width: 1200px;
	height: 40px;
	display: flex;
	align-items: center;
	margin-left: -1px;
	justify-content: space-between;
}
#rv_product_review {
	width: 120px;
	height: 30px;
	font-weight: bold;
}
#rv_product_review_list_button {
	width: 120px;
	height: 30px;
	background-color: black;
	color: white;
	cursor: pointer;
}
#rv_middle_small_screen2 {
	width: 1200px;
	height: 70px;
	margin-top: 20px;
	margin-left: -1px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid gainsboro;
	background-color: rgba(241, 241, 241, 1);
}
#rv_select_box {
	width: 220px;
	height: 35px;
	margin-left: 50px;
	cursor: pointer;
}
#rv_select_button {
	width: 150px;
	height: 35px;
}
#rv_write_button {
	width: 150px;
	height: 35px;
	margin-right: 50px;
	font-size: 12px;
	font-weight: 600;
	color: #6B6D76;
	text-align: center;
	background-color: white;
	border-radius: 3px;
	border: 1px solid black;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	cursor: pointer;
}
#rv_pen_img {
	margin-right: 13px;
	margin-left: 5px;
	background-color: rgba(241, 241, 241, 1);
}
#rv_middle_screen3 {
	width: 1200px;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 1px solid gainsboro;
	margin-left: -1px;
}
#rv_middle_screen3-1 {
	width: 1100px;
	height: 60px;
	display: flex;
	align-items: center;
}
#rv_total {
	width: 1100px;
	height: 20px;
	color: #3b3b3b;
	font-size: 16px;
	font-weight: 600;
}
#rv_middle_screen3-2 {
	width: 1100px;
	height: 190px;
	display: flex;
	align-items: center;
	border: 1px solid gainsboro;
}
#rv_middle_screen_content_box1 {
	width: 900px;
	height: 30px;
	display: flex;
}
#rv_middle_screen_content_small_box1 {
	width: 900px;
	height: 190px;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#rv_middle_screen_content1 {
	width: 452px;
	height: 30px;
	display: flex;
	align-items: center;
	font-size: 17px;
	color: #3b3b3b;
	font-weight: bold;
}
#rv_middle_star_box1 {
	width: 452px;
	height: 30px;
	display: flex;
	align-items: flex-start;
}
#rv_star1 {
	color: #ff5913;
	width: 18px;
	height: 25px;
}
#rv_middle_screen_content_box1-1 {
	width: 900px;
	height: 30px;
	font-size: 14px;
	color: #6A6C77;
}
#rv_middle_screen_content_title_box1 {
	width: 900px;
	height: 30px;
	color: #6B6D76;
	font-weight: bold;
	font-size: 14px;
	display: flex;
	align-items: center;
}
#rv_middle_screen_content_review_content_box1 {
	width: 900px;
	height: 80px;
	font-size: 13.5px;
	display: flex;
	align-items: center;
	color: #6A6C77;
	border: 1px solid gainsboro;
}
#rv_img_box1 {
	width: 200px;
	height: 190px;
}
#rv_img_small_box1 {
	width: 200px;
	height: 110px;
	margin-left: -1px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid gainsboro;
}
#rv_img_small_box_management1 {
	width: 200px;
	height: 80px;
	margin-left: -1px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	border: 1px solid gainsboro;
}
#review_modify_button1 {
	width: 60px;
	height: 25px;
	cursor: pointer;
}
#review_delete_button1 {
	width: 60px;
	height: 25px;
	cursor: pointer;
}
#rv_middle_screen3-3 {
	width: 1100px;
	height: 190px;
	display: flex;
	align-items: center;
	border: 1px solid gainsboro;
}
#rv_middle_screen_content_box2 {
	width: 900px;
	height: 30px;
	display: flex;
}
#rv_middle_screen_content_small_box2 {
	width: 900px;
	height: 190px;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#rv_middle_screen_content2 {
	width: 452px;
	height: 30px;
	display: flex;
	align-items: center;
	font-size: 17px;
	color: #3b3b3b;
	font-weight: bold;
}
#rv_middle_star_box2 {
	width: 450px;
	height: 30px;
	display: flex;
	align-items: flex-start;
}
#rv_star2 {
	color: #ff5913;
	width: 18px;
	height: 25px;
}
#rv_middle_screen_content_box1-2 {
	width: 900px;
	height: 30px;
	font-size: 14px;
	color: #6A6C77;
}
#rv_middle_screen_content_title_box2 {
	width: 900px;
	height: 30px;
	color: #6B6D76;
	font-weight: bold;
	font-size: 14px;
	display: flex;
	align-items: center;
}
#rv_middle_screen_content_review_content_box2 {
	width: 900px;
	height: 80px;
	font-size: 13.5px;
	display: flex;
	align-items: center;
	color: #6A6C77;
	border: 1px solid gainsboro;
}
#rv_img_box2 {
	width: 200px;
	height: 190px;
}
#rv_img_small_box2 {
	width: 200px;
	height: 110px;
	margin-left: -1px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid gainsboro;
}
#rv_img_small_box_management2 {
	width: 200px;
	height: 80px;
	margin-left: -1px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	border: 1px solid gainsboro;
}
#review_modify_button2 {
	width: 60px;
	height: 25px;
	cursor: pointer;
}
#review_delete_button2 {
	width: 60px;
	height: 25px;
	cursor: pointer;
}
#rv_middle_screen3-4 {
	width: 1100px;
	height: 190px;
	display: flex;
	align-items: center;
	border: 1px solid gainsboro;
}
#rv_middle_screen_content_box3 {
	width: 900px;
	height: 30px;
	display: flex;
}
#rv_middle_screen_content_small_box3 {
	width: 900px;
	height: 190px;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#rv_middle_screen_content3 {
	width: 452px;
	height: 30px;
	display: flex;
	align-items: center;
	font-size: 17px;
	color: #3b3b3b;
	font-weight: bold;
}
#rv_middle_star_box3 {
	width: 450px;
	height: 30px;
	display: flex;
	align-items: flex-start;
}
#rv_star3 {
	color: #ff5913;
	width: 18px;
	height: 25px;
}
#rv_middle_screen_content_box1-3 {
	width: 900px;
	height: 30px;
	font-size: 14px;
	color: #6A6C77;
}
#rv_middle_screen_content_title_box3 {
	width: 900px;
	height: 30px;
	color: #6B6D76;
	font-weight: bold;
	font-size: 14px;
	display: flex;
	align-items: center;
}
#rv_middle_screen_content_review_content_box3 {
	width: 900px;
	height: 80px;
	font-size: 13.5px;
	display: flex;
	align-items: center;
	color: #6A6C77;
	border: 1px solid gainsboro;
}
#rv_img_box3 {
	width: 200px;
	height: 190px;
}
#rv_img_small_box3 {
	width: 200px;
	height: 110px;
	margin-left: -1px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid gainsboro;
}
#rv_img_small_box_management3 {
	width: 200px;
	height: 80px;
	margin-left: -1px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	border: 1px solid gainsboro;
}
#review_modify_button3 {
	width: 60px;
	height: 25px;
	cursor: pointer;
}
#review_delete_button3 {
	width: 60px;
	height: 25px;
	cursor: pointer;
}
#rv_middle_screen3-5 {
	width: 1100px;
	height: 190px;
	display: flex;
	align-items: center;
	border: 1px solid gainsboro;
}
#rv_middle_screen_content_box4 {
	width: 900px;
	height: 30px;
	display: flex;
}
#rv_middle_screen_content_small_box4 {
	width: 900px;
	height: 190px;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#rv_middle_screen_content4 {
	width: 452px;
	height: 30px;
	display: flex;
	align-items: center;
	font-size: 17px;
	color: #3b3b3b;
	font-weight: bold;
}
#rv_middle_star_box4 {
	width: 450px;
	height: 30px;
	display: flex;
	align-items: flex-start;
}
#rv_star4 {
	color: #ff5913;
	width: 18px;
	height: 25px;
}
#rv_middle_screen_content_box1-4 {
	width: 900px;
	height: 30px;
	font-size: 14px;
	color: #6A6C77;
}
#rv_middle_screen_content_title_box4 {
	width: 900px;
	height: 30px;
	color: #6B6D76;
	font-weight: bold;
	font-size: 14px;
	display: flex;
	align-items: center;
}
#rv_middle_screen_content_review_content_box4 {
	width: 900px;
	height: 80px;
	font-size: 13.5px;
	display: flex;
	align-items: center;
	color: #6A6C77;
	border: 1px solid gainsboro;
}
#rv_img_box4 {
	width: 200px;
	height: 190px;
}
#rv_img_small_box4 {
	width: 200px;
	height: 110px;
	margin-left: -1px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid gainsboro;
}
#rv_img_small_box_management4 {
	width: 200px;
	height: 80px;
	margin-left: -1px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	border: 1px solid gainsboro;
}
#review_modify_button4 {
	width: 60px;
	height: 25px;
	cursor: pointer;
}
#review_delete_button4 {
	width: 60px;
	height: 25px;
	cursor: pointer;
}
#rv_middle_screen3-6 {
	width: 1100px;
	height: 190px;
	display: flex;
	align-items: center;
	border: 1px solid gainsboro;
}
#rv_middle_screen_content_box5 {
	width: 900px;
	height: 30px;
	display: flex;
}
#rv_middle_screen_content_small_box5 {
	width: 900px;
	height: 190px;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#rv_middle_screen_content5 {
	width: 452px;
	height: 30px;
	display: flex;
	align-items: center;
	font-size: 17px;
	color: #3b3b3b;
	font-weight: bold;
}
#rv_middle_star_box5 {
	width: 450px;
	height: 30px;
	display: flex;
	align-items: flex-start;
}
#rv_star5 {
	color: #ff5913;
	width: 18px;
	height: 25px;
}
#rv_middle_screen_content_box1-5 {
	width: 900px;
	height: 30px;
	font-size: 14px;
	color: #6A6C77;
}
#rv_middle_screen_content_title_box5 {
	width: 900px;
	height: 30px;
	color: #6B6D76;
	font-weight: bold;
	font-size: 14px;
	display: flex;
	align-items: center;
}
#rv_middle_screen_content_review_content_box5 {
	width: 900px;
	height: 80px;
	font-size: 13.5px;
	display: flex;
	align-items: center;
	color: #6A6C77;
	border: 1px solid gainsboro;
}
#rv_img_box5 {
	width: 200px;
	height: 190px;
}
#rv_img_small_box5 {
	width: 200px;
	height: 110px;
	margin-left: -1px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid gainsboro;
}
#rv_img_small_box_management5 {
	width: 200px;
	height: 80px;
	margin-left: -1px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	border: 1px solid gainsboro;
}
#review_modify_button5 {
	width: 60px;
	height: 25px;
	cursor: pointer;
}
#review_delete_button5 {
	width: 60px;
	height: 25px;
	cursor: pointer;
}
#rv_middle_screen3-7 {
	width: 1100px;
	height: 190px;
	display: flex;
	align-items: center;
	border: 1px solid gainsboro;
}
#rv_middle_screen_content_box6 {
	width: 900px;
	height: 30px;
	display: flex;
}
#rv_middle_screen_content_small_box6 {
	width: 900px;
	height: 190px;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#rv_middle_screen_content6 {
	width: 452px;
	height: 30px;
	display: flex;
	align-items: center;
	font-size: 17px;
	color: #3b3b3b;
	font-weight: bold;
}
#rv_middle_star_box6 {
	width: 450px;
	height: 30px;
	display: flex;
	align-items: flex-start;
}
#rv_star6 {
	color: #ff5913;
	width: 18px;
	height: 25px;
}
#rv_middle_screen_content_box1-6 {
	width: 900px;
	height: 30px;
	font-size: 14px;
	color: #6A6C77;
}
#rv_middle_screen_content_title_box6 {
	width: 900px;
	height: 30px;
	color: #6B6D76;
	font-weight: bold;
	font-size: 14px;
	display: flex;
	align-items: center;
}
#rv_middle_screen_content_review_content_box6 {
	width: 900px;
	height: 80px;
	font-size: 13.5px;
	display: flex;
	align-items: center;
	color: #6A6C77;
	border: 1px solid gainsboro;
}
#rv_img_box6 {
	width: 200px;
	height: 190px;
}
#rv_img_small_box6 {
	width: 200px;
	height: 110px;
	margin-left: -1px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid gainsboro;
}
#rv_img_small_box_management6 {
	width: 200px;
	height: 80px;
	margin-left: -1px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	border: 1px solid gainsboro;
}
#review_modify_button6 {
	width: 60px;
	height: 25px;
	cursor: pointer;
}
#review_delete_button6 {
	width: 60px;
	height: 25px;
	cursor: pointer;
}
#rv_middle_screen3-8 {
	width: 1100px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#rv_down_box1 {
	width: 1000px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#rv_down_button1 {
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
#rv_down_number1 {
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
#rv_down_button2 {
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}